workspace/pipeline/000_top_level_hr_new.json
{
	"name": "000_top_level_hr_new",
	"properties": {
		"activities": [
			{
				"name": "0_Source_To_Raw_Fileshare",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "0_pln_source_to_raw_fileshare",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "py_move_files_into_dated_folders",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "0_Source_To_Raw_Fileshare",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_move_files_into_dated_folders",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "py_hr_monthly_raw_to_std",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "py_move_files_into_dated_folders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_hr_monthly_raw_to_std",
						"type": "NotebookReference"
					},
					"parameters": {
						"specific_folder": {
							"value": {
								"value": "@concat(formatDateTime(utcNow(), 'yyyy'), '-', formatDateTime(addDays(startOfMonth(utcNow()), -1), 'MM'))\n",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true
				}
			},
			{
				"name": "Lookup New Data In Standardised",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "py_hr_monthly_raw_to_std",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "mipins_hr_measures_new_data_lookup",
						"type": "NotebookReference"
					},
					"parameters": {
						"month": {
							"value": {
								"value": "@formatDateTime(utcNow(), 'MM')\n",
								"type": "Expression"
							},
							"type": "int"
						},
						"year": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'yyyy')",
								"type": "Expression"
							},
							"type": "int"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Ingest HR Measures",
				"description": "Ingest HR Measures if new data exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup New Data In Standardised",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Lookup New Data In Standardised').output.status.Output.result.exitValue",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "New_Data_Not_Found",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "py_fail_activity_logging",
									"type": "NotebookReference"
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "py_harmonised_and_hr_measures_monthly",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "py_harmonised_and_hr_measures_monthly",
									"type": "NotebookReference"
								},
								"parameters": {
									"start_month": {
										"value": {
											"value": "@formatDateTime(utcnow(), 'MM')",
											"type": "Expression"
										},
										"type": "int"
									},
									"end_month": {
										"value": {
											"value": "@formatDateTime(utcnow(), 'MM')",
											"type": "Expression"
										},
										"type": "int"
									},
									"start_year": {
										"value": {
											"value": "@formatDateTime(utcnow(), 'yyyy')",
											"type": "Expression"
										},
										"type": "int"
									},
									"end_year": {
										"value": {
											"value": "@formatDateTime(utcnow(), 'yyyy')",
											"type": "Expression"
										},
										"type": "int"
									}
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						}
					]
				}
			},
			{
				"name": "sap-hr-views",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "py_hr_monthly_raw_to_std",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "sap-hr-views",
						"type": "NotebookReference"
					},
					"snapshot": true
				}
			},
			{
				"name": "sap-hr-master",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "sap-hr-views",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "sap-hr-master",
						"type": "NotebookReference"
					},
					"snapshot": true
				}
			},
			{
				"name": "employee",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "sap-hr-master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "employee",
						"type": "NotebookReference"
					},
					"snapshot": true
				}
			},
			{
				"name": "employee-publish",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "employee",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "employee-publish",
						"type": "NotebookReference"
					},
					"snapshot": true
				}
			}
		],
		"folder": {
			"name": "hr-cube"
		},
		"annotations": []
	}
}