workspace/pipeline/000_top_level_hr_legacy.json
{
	"name": "000_top_level_hr_legacy",
	"properties": {
		"activities": [
			{
				"name": "0_Source_To_Raw_Fileshare",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "0_pln_source_to_raw_fileshare",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "1_scheduling_raw_to_standardised_hr",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "py_daily_files_into_date_folders",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitOnCompletion": true,
					"parameters": {
						"table_grouping": "HR"
					}
				}
			},
			{
				"name": "Harmonised - HR",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "1_scheduling_raw_to_standardised_hr",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(dayOfWeek(utcnow()),2)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "sap-hr-views",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "sap-hr-views",
									"type": "NotebookReference"
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						},
						{
							"name": "sap-hr-master",
							"type": "SynapseNotebook",
							"dependsOn": [
								{
									"activity": "sap-hr-views",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "sap-hr-master",
									"type": "NotebookReference"
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						},
						{
							"name": "sap-hr-views failed",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "sap-hr-views",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": "sap-hr-views failed",
								"errorCode": "sap-hr-views failed"
							}
						},
						{
							"name": "py_fail_activity_logging",
							"type": "SynapseNotebook",
							"dependsOn": [
								{
									"activity": "sap-hr-views failed",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "py_fail_activity_logging",
									"type": "NotebookReference"
								},
								"parameters": {
									"output": {
										"value": {
											"value": "@activity('sap-hr-views failed').output.message",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						},
						{
							"name": "sap-hr-master failed",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "sap-hr-master",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": "sap-hr-master failed",
								"errorCode": "sap-hr-master failed"
							}
						},
						{
							"name": "py_fail_activity_logging1",
							"type": "SynapseNotebook",
							"dependsOn": [
								{
									"activity": "sap-hr-master failed",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "py_fail_activity_logging",
									"type": "NotebookReference"
								},
								"parameters": {
									"output": {
										"value": {
											"value": "@activity('sap-hr-master failed').output.message",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						}
					]
				}
			},
			{
				"name": "4_scheduling_harmonised_to_curated",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Harmonised - HR",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitOnCompletion": true
				}
			},
			{
				"name": "5_scheduling_curated_to_esb",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "4_scheduling_harmonised_to_curated",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitOnCompletion": true
				}
			},
			{
				"name": "py_daily_files_into_date_folders",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "0_Source_To_Raw_Fileshare",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_daily_files_into_date_folders",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			}
		],
		"folder": {
			"name": "hr/utils"
		},
		"annotations": []
	}
}