workspace/pipeline/0_Horizon_SQL_Tables_Raw_part2.json
{
	"name": "0_Horizon_SQL_Tables_Raw_part2",
	"properties": {
		"description": "this is an pipeline extension ",
		"activities": [
			{
				"name": "Horizon_Event",
				"description": "ingestion of Horizon_vw_BIS_Event into ODW RAW",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.Horizon_vw_BIS_Event"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Horizon', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'Event.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AppealRefNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AppealRefNumber",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CaseReference",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CaseReference",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EventType",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EventType",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ChartStatus",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ChartStatus",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ParentKeyID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ParentKeyID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "StartDateOfEvent",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "StartDateOfEvent",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "StartTimeOfEvent",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "StartTimeOfEvent",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EndDateOfEvent",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "EndDateOfEvent",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DateEventRequested",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DateEventRequested",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ActualDuration",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ActualDuration",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EstPrepTime",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EstPrepTime",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EstSitTime",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EstSitTime",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EstRepTime",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EstRepTime",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "HZN_Event",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Horizon_Tables_Data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "Event.csv"
						}
					}
				]
			},
			{
				"name": "Horizon_InspectorCases",
				"description": "Ingestion of Horizon_vw_BIS_InspectorCases into ODW Raw",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Horizon_Event",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.Horizon_vw_BIS_Inspector_Cases"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Horizon', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'InspectorCases.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AppealRefNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AppealRefNumber",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CaseReference",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CaseReference",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "TypeOfInvolvement",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TypeOfInvolvement",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "InspectorName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "InspectorName",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ContactID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ContactID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ParentKeyID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ParentKeyID",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "HZN_InspectorCases",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Horizon_Tables_Data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "InspectorCases.csv"
						}
					}
				]
			},
			{
				"name": "Horizon_ProjectInfoInternal",
				"description": "Ingestion of Horizon_vw_BIS_ProjectInfoInternal into ODW Raw",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Horizon_InspectorCases",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.NSIP_vw_ProjectInfoInternal"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Horizon', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'ProjectInfoInternal.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CaseReference",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CaseReference",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ProjectName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProjectName",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Proposal",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Proposal",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ProjectLocation",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProjectLocation",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Stage",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Stage",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PromoterName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PromoterName",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PromoterFirstName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PromoterFirstName",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PromoterLastName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PromoterLastName",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ApplicantEmailAddress",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ApplicantEmailAddress",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ApplicantPhoneNumber",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ApplicantPhoneNumber",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "WebAddress",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "WebAddress",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "AddressLine1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AddressLine1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "AddressLine2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AddressLine2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "AddressTown",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AddressTown",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "AddressCounty",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AddressCounty",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PostCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PostCode",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ApplicantDescriptionOfProject",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ApplicantDescriptionOfProject",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Summary",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Summary",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ProjectEmailAddress",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProjectEmailAddress",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CaseLeaderName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CaseLeaderName",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Commissioner",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Commissioner",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "AnticipatedDateOfSubmission",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "AnticipatedDateOfSubmission",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "AnticipatedSubmissionDateNonSpecific",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "AnticipatedSubmissionDateNonSpecific",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DateProjectAppearsOnWebsite",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DateProjectAppearsOnWebsite",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DateOfDCOAcceptance",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DateOfDCOAcceptance",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DateOfDCOSubmission",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DateOfDCOSubmission",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DateOfRepresentationPeriodOpen",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DateOfRepresentationPeriodOpen",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DateOfRelevantRepresentationClose",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DateOfRelevantRepresentationClose",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "TimeOfRelevantRepresentationClose",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TimeOfRelevantRepresentationClose",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DateRRepAppearOnWebsite",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DateRRepAppearOnWebsite",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ConfirmedStartOfExamination",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ConfirmedStartOfExamination",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DateTimeExaminationEnds",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DateTimeExaminationEnds",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Stage4ExtensionToExamCloseDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Stage4ExtensionToExamCloseDate",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Stage5ExtensionToRecommendationDeadline",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Stage5ExtensionToRecommendationDeadline",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DateOfRecommendations",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DateOfRecommendations",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ConfirmedDateOfDecision",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ConfirmedDateOfDecision",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Stage5ExtensionToDecisionDeadline",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Stage5ExtensionToDecisionDeadline",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DateProjectWithdrawn",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DateProjectWithdrawn",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Region",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Region",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CaseCreatedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CaseCreatedDate",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Section46Notification",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Section46Notification",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "HZN_ProjInfoInternal",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Horizon_Tables_Data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "ProjectInfoInternal.csv"
						}
					}
				]
			},
			{
				"name": "Horizon_CasesInfo",
				"description": "Ingestion of Horizon_vw_BIS_CasesInfo into ODW Raw",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Horizon_ProjectInfoInternal",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.Horizon_vw_BIS_CaseInfo"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Horizon', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'CaseInfo.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AppealRefNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AppealRefNumber",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CaseReference",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CaseReference",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Validity",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Validity",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "HZN_CaseInfo",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Horizon_Tables_Data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "CaseInfo.csv"
						}
					}
				]
			},
			{
				"name": "Horizon_CaseDates",
				"description": "Ingestion of Horizon_vw_BIS_CaseDates into ODW Raw",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Horizon_CasesInfo",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.Horizon_vw_BIS_CaseDates"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Horizon', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'CaseDates.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AppealRefNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AppealRefNumber",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CaseReference",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CaseReference",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ValidityStatusDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ValidityStatusDate",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "HZN_CaseDates",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Horizon_Tables_Data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "CaseDates.csv"
						}
					}
				]
			},
			{
				"name": "Horizon_Case_Officer_Additional_Details",
				"description": "Ingestion of Horizon_vw_BIS_Case_Officer_Additional_Details into ODW Raw",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Horizon_CaseDates",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.Horizon_vw_BIS_Case_Officer_Additional_Details"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Horizon', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'CaseOfficerAdditionalDetails.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AppealRefNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AppealRefNumber",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CaseRef",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CaseRef",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CaseOfficerLogin",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CaseOfficerLogin",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CaseOfficerName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CaseOfficerName",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Email",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Email",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "HZN_CaseOfficerAddDetail",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Horizon_Tables_Data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "CaseOfficerAdditionalDetails.csv"
						}
					}
				]
			},
			{
				"name": "EventFail1",
				"description": "The ingestion of Horizon_vw_BIS_Event into ODW RAW has failed ",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Horizon_Event",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of Horizon_vw_BIS_Event into ODW RAW has failed ",
					"errorCode": "EventFail1"
				}
			},
			{
				"name": "InspectorCasesFail1",
				"description": "The ingestion of Horizon_vw_BIS_InspectorCases into ODW RAW has failed ",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Horizon_InspectorCases",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of Horizon_vw_BIS_InspectorCases into ODW RAW has failed ",
					"errorCode": "InspectorCasesFail1"
				}
			},
			{
				"name": "ProjectInfoInternalFail1",
				"description": "The ingestion of Horizon_vw_BIS_ProjectInfoInternal into ODW RAW has failed ",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Horizon_ProjectInfoInternal",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of Horizon_vw_BIS_ProjectInfoInternal into ODW RAW has failed ",
					"errorCode": "ProjectInforInternalFail1"
				}
			},
			{
				"name": "CasesInfoFail1",
				"description": "The ingestion of Horizon_vw_BIS_CasesInfo into ODW RAW has failed ",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Horizon_CasesInfo",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of Horizon_vw_BIS_CasesInfo into ODW RAW has failed ",
					"errorCode": "CasesInfoFail1"
				}
			},
			{
				"name": "CaseDatesFail",
				"description": "The ingestion of Horizon_vw_BIS_CaseDates into ODW RAW has failed ",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Horizon_CaseDates",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of Horizon_vw_BIS_CaseDates into ODW RAW has failed ",
					"errorCode": "CaseDatesFail1"
				}
			},
			{
				"name": "AdditionalDetailsFail1",
				"description": "The ingestion of Horizon_vw_BIS_Case_Officer_Additional_Details into ODW RAW has failed ",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Horizon_Case_Officer_Additional_Details",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of Horizon_vw_BIS_Case_Officer_Additional_Details into ODW RAW has failed ",
					"errorCode": "AdditionalDetailsFail1"
				}
			},
			{
				"name": "Horizon_AppSubTypeCaseName",
				"description": "Ingestion of dbo.Horizon_vw_MiPINS_AppSubTypeCaseName into ODW Raw",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Horizon_Case_Officer_Additional_Details",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.Horizon_vw_MiPINS_AppSubTypeCaseName"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Horizon', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'AppSubTypeCaseName.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM [dbo].[Horizon_vw_MiPINS_AppSubTypeCaseName] WHERE [appeal_reference_number] > '2999999'  ",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "appeal_reference_number",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "appeal_reference_number",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "application_sub_type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "application_sub_type",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "case_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "case_name",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "HZN_AppSubTypeCaseName",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Horizon_Tables_Data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "AppSubTypeCaseName.csv"
						}
					}
				]
			},
			{
				"name": "AppSubTypeCasenameFail1",
				"description": "The ingestion of [dbo].[Horizon_vw_MiPINS_AppSubTypeCaseName] into ODW RAW has failed ",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Horizon_AppSubTypeCaseName",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of [dbo].[Horizon_vw_MiPINS_AppSubTypeCaseName] into ODW RAW has failed ",
					"errorCode": "AppSubTypeCaseNameFail1"
				}
			},
			{
				"name": "Horizon_NSIP_redactions",
				"description": "Ingestion of dbo.Horizon_vw_MiPINS_NSIP_redactions into ODW Raw",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Horizon_AppSubTypeCaseName",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.Horizon_vw_MiPINS_NSIP_redactions"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Horizon', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'NSIPRedactions.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "case_reference",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "case_reference",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "num_redactions",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "num_redactions",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "HZN_NSIPRedactions",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Horizon_Tables_Data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "NSIPRedactions.csv"
						}
					}
				]
			},
			{
				"name": "NSIPRedactionsFail1",
				"description": "The ingestion ofdbo.Horizon_vw_MiPINS_NSIP_redactions into ODW RAW has failed ",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Horizon_NSIP_redactions",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion ofdbo.Horizon_vw_MiPINS_NSIP_redactions into ODW RAW has failed",
					"errorCode": "NSIPRedactionsFail1"
				}
			},
			{
				"name": "Logging Failed Activities-11",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "EventFail1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('EventFail1').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-12",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "InspectorCasesFail1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('InspectorCasesFail1').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-13",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "ProjectInfoInternalFail1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('ProjectInfoInternalFail1').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-14",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "CasesInfoFail1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('CasesInfoFail1').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-15",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "CaseDatesFail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('CaseDatesFail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-16",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "AdditionalDetailsFail1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('AdditionalDetailsFail1').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-17",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "AppSubTypeCasenameFail1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('AppSubTypeCasenameFail1').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-18",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "NSIPRedactionsFail1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('NSIPRedactionsFail1').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Horizon_NSIP_Advice",
				"description": "Getting the data from the horizon table Horizon_vw_NSIPAdvice to bring into ODW",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Horizon_NSIP_redactions",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "."
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Horizon', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'NSIPAdvice.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AdviceNodeId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "AdviceNodeId",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "title",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "title",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CaseReference",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CaseReference",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "AdviceReference",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AdviceReference",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "AdviceStatus",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AdviceStatus",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Section51Advice",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Section51Advice",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EnquirerFirstname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EnquirerFirstname",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EnquirerLastname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EnquirerLastname",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EnquirerOrganisation",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EnquirerOrganisation",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EnquiryDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "EnquiryDate",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EnqiryMethod",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EnqiryMethod",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Enquiry",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Enquiry",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "AdviceFrom",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AdviceFrom",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "AdviceDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "AdviceDate",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Advice",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Advice",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "adviceLastModified",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "adviceLastModified",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "attachmentCount",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "attachmentCount",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "AttachmentsLastModified",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "AttachmentsLastModified",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "lastPublishedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "lastPublishedDate",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "caseNodeId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "caseNodeId",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "welshLanguage",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "welshLanguage",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "caseworkType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "caseworkType",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "attachmentDataID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "attachmentDataID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "AttachmentModifyDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "AttachmentModifyDate",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "NSIP_Advice",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "NSIPAdvice",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "NSIPAdvice.csv"
						}
					}
				]
			},
			{
				"name": "NSIPAdviceFail1",
				"description": "The ingestion of Horizon_vw_NSIPAdvice into ODW RAW has failed ",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Horizon_NSIP_Advice",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of Horizon_vw_NSIPAdvice into ODW RAW has failed",
					"errorCode": "NSIPAdviceFail1"
				}
			},
			{
				"name": "Logging Failed Activities-19",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "NSIPAdviceFail1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('NSIPAdviceFail1').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "0_Raw_Horizon_BIS_Event",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Horizon_NSIP_Advice",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "0_Raw_Horizon_BIS_Event",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"folder": {
			"name": "casework/layers/0-raw"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-19T13:05:36Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}