workspace/pipeline/0_Horizon_Appeals_Data_Transfer_Raw.json
{
	"name": "0_Horizon_Appeals_Data_Transfer_Raw",
	"properties": {
		"description": "Connecting to the specialism view in horizon to move the data into the ODW RAW layer",
		"activities": [
			{
				"name": "HZN_Data_Copy_AllAppeals",
				"description": "This pipeline is copying case data from Horizon and storing it in the ODW Raw layer in Parquet format",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.Horizon_vw_BIS_AllAppeals"
					},
					{
						"name": "Destination",
						"value": "odw-raw/Horizon/BISData"
					}
				],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "HorizonData_BIS_AllAppeals",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "HZN_ViewData",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "AllAppeals.csv"
						}
					}
				]
			},
			{
				"name": "HZN_Data_Copy_AppealsAdditionalData",
				"description": "This is connecting to the Horizon AppealsAdditionalData view and loading the data into the RAW ODW Layer as Parquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "HZN_Data_Copy_AllAppeals",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AppealRefNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AppealRefNumber",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LastModified",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LastModified",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "DecisionDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DecisionDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "DecisionSubmitDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DecisionSubmitDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "BespokeIndicator",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "BespokeIndicator",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "BespokeTargetDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "BespokeTargetDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "ProcessingState",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProcessingState",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LinkStatus",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LinkStatus",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CaseClosedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CaseClosedDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "Appellant",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Appellant",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PCSAppealWithdrawnDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "PCSAppealWithdrawnDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "NumberOfResidences",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "NumberOfResidences",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "AppealsDocumentsComplete",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "AppealsDocumentsComplete",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "QuestionnaireReceived",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "QuestionnaireReceived",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "LPAConditionsReceived",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LPAConditionsReceived",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "LPAConditionsForwarded",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LPAConditionsForwarded",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "StatementsDue",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "StatementsDue",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "LPAStatementSubmitted",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LPAStatementSubmitted",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "LPAStatementForwarded",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LPAStatementForwarded",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "AppellantStatementSubmitted",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "AppellantStatementSubmitted",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "AppellantStatementForwarded",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "AppellantStatementForwarded",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "FinalCommentsDue",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "FinalCommentsDue",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "LPACommentsSubmitted",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LPACommentsSubmitted",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "LPACommentsForwarded",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LPACommentsForwarded",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "StatementOfCommonGroundDue",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "StatementOfCommonGroundDue",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "StatementOfCommonGroundReceived",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "StatementOfCommonGroundReceived",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "AppellantCommentsSubmitted",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "AppellantCommentsSubmitted",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "AppellantCommentsForwarded",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "AppellantCommentsForwarded",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "ThirdPartyRepsDue",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ThirdPartyRepsDue",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "ThirdPartyRepsForwarded",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ThirdPartyRepsForwarded",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "SiteNoticeSent",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "SiteNoticeSent",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "ProofsDue",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ProofsDue",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "LPAProofsSubmitted",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LPAProofsSubmitted",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "LPAProofsForwarded",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LPAProofsForwarded",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "AppellantsProofsSubmitted",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "AppellantsProofsSubmitted",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "AppellantsProofsForwarded",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "AppellantsProofsForwarded",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "AreaOfSiteInHectares",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AreaOfSiteInHectares",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DateOfDecisionIfIssued",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DateOfDecisionIfIssued",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "TypeOfApplication",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TypeOfApplication",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "AppealSourceIndicator",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AppealSourceIndicator",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DevelopmentOrAllegation",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DevelopmentOrAllegation",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SiteAddress1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SiteAddress1",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SiteAddress2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SiteAddress2",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SiteTown",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SiteTown",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SiteCounty",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SiteCounty",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SiteCountry",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SiteCountry",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SitePostCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SitePostCode",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "AbeyanceEndDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "AbeyanceEndDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "AmountDue",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AmountDue",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SiteGreenBelt",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SiteGreenBelt",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LPAApplicationReference",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LPAApplicationReference",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LPAApplicationDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LPAApplicationDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "DateNotRecoveredorDeRecovered",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DateNotRecoveredorDeRecovered",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "DateRecovered",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DateRecovered",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "CallInDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CallInDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "EnglandWalesIndicator",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EnglandWalesIndicator",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "BIS_HZN_AppealsAddtionalData",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "HZN_ViewData",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "AppealsAdditionalData.csv"
						}
					}
				]
			},
			{
				"name": "HZN_Data_Copy_AddAdditionalData",
				"description": "This is connecting to the Horizon AddAdditionalData view and loading the data into the RAW ODW Layer as Parquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "HZN_Data_Copy_AppealsAdditionalData",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AppealRefNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AppealRefNumber",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CaseProcess",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CaseProcess",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CaseworkMarker",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CaseworkMarker",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CostsAppliedForIndicator",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CostsAppliedForIndicator",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Level",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Level",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ProcedureAppellant",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProcedureAppellant",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ProcedureLPA",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ProcedureLPA",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ProcedureDeterminedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ProcedureDeterminedDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "TargetDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "TargetDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "AgriculturalHolding",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "AgriculturalHolding",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DevelopmentAffectSettingOfListedBuilding",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DevelopmentAffectSettingOfListedBuilding",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FloorSpaceInSquareMetres",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "FloorSpaceInSquareMetres",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "SiteGridReferenceEasting",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SiteGridReferenceEasting",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SiteGridReferenceNorthing",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SiteGridReferenceNorthing",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "HistoricBuildingGrantMade",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "HistoricBuildingGrantMade",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "InCARelatesToCA",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "InCARelatesToCA",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "InspectorNeedToEnterSite",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "InspectorNeedToEnterSite",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "IsFloodingAnIssue",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "IsFloodingAnIssue",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "IsTheSiteWithinAnAONB",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "IsTheSiteWithinAnAONB",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SiteWithinSSSI",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SiteWithinSSSI",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "BIS_AddAdditionalData",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "HZN_ViewData",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "AddAdditionalData.csv"
						}
					}
				]
			},
			{
				"name": "HZN_Data_Copy_AdvertDetails",
				"description": "This is connecting to the Horizon AdvertDetails view and loading the data into the RAW ODW Layer as Parquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "HZN_Data_Copy_AddAdditionalData",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AppealRefNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AppealRefNumber",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LastModified",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LastModified",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "SignCategory",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SignCategory",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ReasonPublicSafety",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ReasonPublicSafety",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ReasonAmenity",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ReasonAmenity",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "OutcomePublicSafety",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OutcomePublicSafety",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "OutcomeAmenity",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OutcomeAmenity",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SignDescription",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SignDescription",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Hzn_AdvertDetails",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "HZN_ViewData",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "AdvertDetails.csv"
						}
					}
				]
			},
			{
				"name": "HZN_Data_Copy_LPAResponsibility",
				"description": "This is connecting to the Horizon LPAResponsibility view and loading the data into the RAW ODW Layer as Parquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "HZN_Data_Copy_AdvertDetails",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LPACode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LPACode",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LPAName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "LPAName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "AppealType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AppealType",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Login",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Login",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "EmployeeId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "EmployeeId",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "CaseOfficerName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CaseOfficerName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Workflow",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Workflow",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "HZN_LPARResponsability",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "HZN_ViewData",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "LPAResponsibility.csv"
						}
					}
				]
			},
			{
				"name": "HZN_Data_Copy_DecisionIssues",
				"description": "This is connecting to the Horizon DecisionIssues view and loading the data into the RAW ODW Layer as Parquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "HZN_Data_Copy_LPAResponsibility",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AppealRefNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AppealRefNumber",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LastModified",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LastModified",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "DecisionIssue",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DecisionIssue",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "HZN_BIS_DecisionIssues",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "HZN_ViewData",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "DecisionIssues.csv"
						}
					}
				]
			},
			{
				"name": "HZN_Data_Copy_EnforcementGroundsForAppeal",
				"description": "This is connecting to the Horizon EnforcementGroundsForAppeal view and loading the data into the RAW ODW Layer as Parquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "HZN_Data_Copy_DecisionIssues",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AppealRefNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AppealRefNumber",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LastModified",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LastModified",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "GroundForAppeal",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "GroundForAppeal",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "GroundLetter",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "GroundLetter",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "GroundforAppealStartDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "GroundforAppealStartDate",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "HZN_EnforcementGroundsForAppeal",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "HZN_ViewData",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "EnforcementGroundsForAppeal.csv"
						}
					}
				]
			},
			{
				"name": "All_Appeals_Data_Copy_Failure",
				"description": "The copy activity from Horizon has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "HZN_Data_Copy_AllAppeals",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [
					{
						"name": "Michael Cross",
						"value": "michael.cross@planninginspectorate.gov.uk"
					}
				],
				"typeProperties": {
					"message": "All Appeals copy to Raw has failed",
					"errorCode": "HZN_Data_Copy_AllAppeals"
				}
			},
			{
				"name": "AppealsAdditionalData_Data_Copy_Failure",
				"description": "The copy activity from Horizon has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "HZN_Data_Copy_AppealsAdditionalData",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [
					{
						"name": "Michael Cross",
						"value": "michael.cross@planninginspectorate.gov.uk"
					}
				],
				"typeProperties": {
					"message": "AppealsAdditionalData copy to Raw has failed",
					"errorCode": "HZN_Data_Copy_AppealsAdditionalData"
				}
			},
			{
				"name": "AddAdditional_Data_Copy_Failure",
				"description": "The copy activity from Horizon has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "HZN_Data_Copy_AddAdditionalData",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [
					{
						"name": "Michael Cross",
						"value": "michael.cross@planninginspectorate.gov.uk"
					}
				],
				"typeProperties": {
					"message": "AddAdditionalData copy to Raw has failed",
					"errorCode": "HZN_Copy_Data_AddAdditionalData"
				}
			},
			{
				"name": "AdvertDetails_Data_Copy_Failure",
				"description": "The copy activity from Horizon has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "HZN_Data_Copy_AdvertDetails",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [
					{
						"name": "Michael Cross",
						"value": "michael.cross@planninginspectorate.gov.uk"
					}
				],
				"typeProperties": {
					"message": "AdvertDetails copy activity to raw has failed",
					"errorCode": "HZN_Data_Copy_AdvertDetails"
				}
			},
			{
				"name": "LPAResponsibility_Data_Copy_Failure",
				"description": "The copy activity from Horizon has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "HZN_Data_Copy_LPAResponsibility",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [
					{
						"name": "Michael Cross",
						"value": "michael.cross@planninginspectorate.gov.uk"
					}
				],
				"typeProperties": {
					"message": "LPAResponsibility copy activity to raw has failed",
					"errorCode": "HZN_Data_Copy_LPAResponsibility"
				}
			},
			{
				"name": "DecisionIssues_Data_Copy_Failure",
				"description": "The copy activity from Horizon has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "HZN_Data_Copy_DecisionIssues",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [
					{
						"name": "Michael Cross",
						"value": "michael.cross@planninginspectorate.gov.uk"
					}
				],
				"typeProperties": {
					"message": "DecisionIssues copy activity to raw has failed",
					"errorCode": "HZN_Data_Copy_DecisionIssues"
				}
			},
			{
				"name": "EnforcementGroundsForAppeal_Data_Copy_Failure",
				"description": "The copy activity from Horizon has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "HZN_Data_Copy_EnforcementGroundsForAppeal",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [
					{
						"name": "Michael Cross",
						"value": "michael.cross@planninginspectorate.gov.uk"
					}
				],
				"typeProperties": {
					"message": "EnforcementGroundsForAppeal copy activity to raw has failed",
					"errorCode": "HZN_Data_Copy_EnforcementGroundsForAppeal"
				}
			},
			{
				"name": "HZN_Data_Copy_SpecialCircumstance",
				"description": "This is connecting to the Horizon SpecialCircumstance view and loading the data into the RAW ODW Layer as Parquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "HZN_Data_Copy_EnforcementGroundsForAppeal",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AppealRefNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AppealRefNumber",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LastModified",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LastModified",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "SpecialCircumstance",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SpecialCircumstance",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "HZNSpecialCircumstance",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "HZN_ViewData",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "SpecialCircumstance.csv"
						}
					}
				]
			},
			{
				"name": "SpecialCircumstance_Data_Copy_Failure",
				"description": "SpecialCircumstance has failed to copy from Horizon to RAW",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "HZN_Data_Copy_SpecialCircumstance",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "SpecialCircumstance copy activity to raw has failed",
					"errorCode": "HZN_Data_Copy_SpecialCircumstance"
				}
			},
			{
				"name": "HZN_Data_Copy_Specialism",
				"description": "This is connecting to the Horizon Specialismview and loading the data into the RAW ODW Layer as Parquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "HZN_Data_Copy_SpecialCircumstance",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AppealRefNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AppealRefNumber",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LastModified",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LastModified",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "Specialism",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Specialism",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "HZNSpecialism",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "HZN_ViewData",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "Specialism.csv"
						}
					}
				]
			},
			{
				"name": "Specialism_Data_Copy_Failure",
				"description": " Specialism view loading into the RAW ODW Layer as Parquet has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "HZN_Data_Copy_Specialism",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The Horizon Specialism load to RAW has failed",
					"errorCode": "HZN_Data_Copy_Specialism"
				}
			},
			{
				"name": "Logging Failed Activities",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "All_Appeals_Data_Copy_Failure",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('All_Appeals_Data_Copy_Failure').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-2",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "AppealsAdditionalData_Data_Copy_Failure",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('AppealsAdditionalData_Data_Copy_Failure').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-3",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "AddAdditional_Data_Copy_Failure",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('AddAdditional_Data_Copy_Failure').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-4",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "AdvertDetails_Data_Copy_Failure",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('AdvertDetails_Data_Copy_Failure').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-5",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "LPAResponsibility_Data_Copy_Failure",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('LPAResponsibility_Data_Copy_Failure').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-6",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "DecisionIssues_Data_Copy_Failure",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('DecisionIssues_Data_Copy_Failure').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-7",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "EnforcementGroundsForAppeal_Data_Copy_Failure",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('EnforcementGroundsForAppeal_Data_Copy_Failure').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-8",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "SpecialCircumstance_Data_Copy_Failure",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('SpecialCircumstance_Data_Copy_Failure').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-9",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Specialism_Data_Copy_Failure",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Specialism_Data_Copy_Failure').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "HZN_Right_of_Way",
				"description": "Copy the rights of way data data from horizon into Raw",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "HZN_Data_Copy_Specialism",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "load.row_case_info"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Horizon', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'HZNRightOfWay.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Record_Status",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Record_Status",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Group",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Group",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Jurisdiction",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Jurisdiction",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "FPS_Number",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FPS_Number",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "FPS_1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FPS_1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "FPS_2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FPS_2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "FPS_3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FPS_3",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "FPS_4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "FPS_4",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Lead_FPS_Number",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Lead_FPS_Number",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Migration",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Migration",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Act",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Act",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Section",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Section",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DataEase OMA",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DataEase OMA",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Order_Making_Authority",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Order_Making_Authority",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Title_Of_Order",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Title_Of_Order",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "OMA_Reference",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OMA_Reference",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "OMA_Contact",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OMA_Contact",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "OMA_Telephone",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OMA_Telephone",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "OMA_Form_Of_Address",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OMA_Form_Of_Address",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DataEase_Objectors",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DataEase_Objectors",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Number_Of_Objectors",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Number_Of_Objectors",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Concurrent_Orders",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Concurrent_Orders",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Receipt_Of_Orders",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Receipt_Of_Orders",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Documentation_Complete",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Documentation_Complete",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Allocation_Level",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Allocation_Level",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Fee_Rate",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Fee_Rate",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Date_Order_Validated",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Date_Order_Validated",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Order_Rejected_Or_Returned",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Order_Rejected_Or_Returned",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Date_Orders_Withdrawn",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Date_Orders_Withdrawn",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Date_Of_Recovery_By_SOS",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Date_Of_Recovery_By_SOS",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Date_Procedure_Confirmed",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Date_Procedure_Confirmed",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Procedure",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Procedure",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Date_Inquiry_Requested",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Date_Inquiry_Requested",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Local_Inquiry_Date",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Local_Inquiry_Date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Estimated_Duration",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Estimated_Duration",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Inquiry_Venue",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Inquiry_Venue",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Sent_For_Allocation",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Sent_For_Allocation",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Inspectors_Name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Inspectors_Name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Inquiry_Observed_By",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Inquiry_Observed_By",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "InquirySV_Cancelled",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "InquirySV_Cancelled",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Site_Visit_Date",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Site_Visit_Date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ASV_USV",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ASV_USV",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Number_Of_Claims",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Number_Of_Claims",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": " Committed",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": " Committed",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Committed Left",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Committed Left",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Actual_Duration",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Actual_Duration",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Sitting_Days_Claimed",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Sitting_Days_Claimed",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Preparation_Time",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Preparation_Time",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Reporting_Time",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Reporting_Time",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Cost_Of_Claims",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Cost_Of_Claims",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Date_File_To_Inspector",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Date_File_To_Inspector",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Receipt_Of_DecisionReport",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Receipt_Of_DecisionReport",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Date_Sent_To_Reader",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Date_Sent_To_Reader",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Readers_Name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Readers_Name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Date_Returned_From_Reader",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Date_Returned_From_Reader",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Date_DecisionReport_Despatched",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Date_DecisionReport_Despatched",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Decision_Recommendation",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Decision_Recommendation",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Date_Publication_Procedure_Completed",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Date_Publication_Procedure_Completed",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Date_File_To_PA",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Date_File_To_PA",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Associated_File_1",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Associated_File_1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Associated_File_2",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Associated_File_2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Date_Costs_Report_Despatched",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Date_Costs_Report_Despatched",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Associated_File_3",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Associated_File_3",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Associated_File_4",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Associated_File_4",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Date_Costs_Order_Originated",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Date_Costs_Order_Originated",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Associated_File_5",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Associated_File_5",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Associated_File_6",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Associated_File_6",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Associated_File_7",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Associated_File_7",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Associated_File_8",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Associated_File_8",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Associated_File_9",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Associated_File_9",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Notes",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Notes",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "OMA Stance",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OMA Stance",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Last Sitting Day",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "Last Sitting Day",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Recharged to Defra",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Recharged to Defra",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Name of Applicant",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Name of Applicant",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Decision clear for despatch",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "Decision clear for despatch",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "PDAC_ETL_Date",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "PDAC_ETL_Date",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "HZN_Right_Of_Way",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "HZN_RightOfWay",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "HZNRightOfWay.csv"
						}
					}
				]
			},
			{
				"name": "ROW_Data_Copy_Failure1",
				"description": "ROW data loading into the RAW ODW Layer as csv has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "HZN_Right_of_Way",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The Horizon ROW load to RAW has failed",
					"errorCode": "HZN_Data_Copy_ROW"
				}
			},
			{
				"name": "Logging Failed Activities-11",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "ROW_Data_Copy_Failure1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('ROW_Data_Copy_Failure1').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "NSIP_Relevant_Representation",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "NSIP_Exam_Timetable",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "0_Raw_Horizon_NSIP_Relevant_Reps",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "NSIP_Data",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "NSIP_Relevant_Representation",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "0_Raw_Horizon_NSIP_Data",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "NSIP_Exam_Timetable",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "HZN_Right_of_Way",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "0_Raw_Horizon_NSIP_Exam_Timetable",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"folder": {
			"name": "casework/layers/0-raw"
		},
		"annotations": [],
		"lastPublishTime": "2024-01-08T18:03:43Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}