workspace/pipeline/0_pln_source_to_raw_saphr_excel.json
{
	"name": "0_pln_source_to_raw_saphr_excel",
	"properties": {
		"activities": [
			{
				"name": "source_to_raw_main",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "temp_test",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "If Condition1",
				"description": "If no new files \"[]\" then logged, else Copy activity starts",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "source_to_raw_main",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "equal(@activity('source_to_raw_main').output.status.Output.result.exitValue,\"[]\")",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "CopySourceToRaw",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "0_pln_soruce_to_raw_saphr_excel_copy_activity",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"AllPaths": {
										"value": "@activity('source_to_raw_main').output.status.Output.result.exitValue",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "No_New_Files_Logging",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"snapshot": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"TargetSourceType": {
				"type": "string",
				"defaultValue": "Fileshare"
			},
			"TargetSourceSystem": {
				"type": "string",
				"defaultValue": "SAP_HR"
			},
			"TargetDate": {
				"type": "string",
				"defaultValue": "2022-08"
			}
		},
		"variables": {
			"l": {
				"type": "String"
			}
		},
		"annotations": []
	}
}