workspace/pipeline/0_Raw_Checkmark_Data.json
{
	"name": "0_Raw_Checkmark_Data",
	"properties": {
		"activities": [
			{
				"name": "Checkmark_Case_Comment",
				"description": "This is ingesting data into ODW Raw from miPINS table case_comment",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.case_comment"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'CaseComment.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "case_reference",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "case_reference",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "type",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "type",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "state",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "state",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "author",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "author",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "timestamp",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "timestamp",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "comment",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "comment",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "mipins_checkmark_case_comment",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_checkmark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "CaseComment.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Documents",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table documents",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Case_Comment",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.case_documents"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'Documents.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "case_reference",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "case_reference",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "document_type",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "document_type",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "blob_url",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "blob_url",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "filename",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "filename",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "previous_type",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "previous_type",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "document_version",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "document_version",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "type_code",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "type_code",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "description",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "description",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "key_points",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "key_points",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_modified",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "date_modified",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_documents",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_checkmark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "Documents.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Case_Marking",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table case_marking",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Documents",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.case_marking"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'CaseMarking.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "case_reference",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "case_reference",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "overall_mark",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "overall_mark",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "amendments_timeliness_mark",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "amendments_timeliness_mark",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "complexity",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "complexity",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "conditions_mark",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "conditions_mark",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "conditions_detail",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "conditions_detail",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "coverage_mark",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "coverage_mark",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "coverage_detail",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "coverage_detail",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ground_a_mark",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ground_a_mark",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ground_a_iit_level",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ground_a_iit_level",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "invalid_nullity",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "invalid_nullity",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "invalid_nullity_mark",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "invalid_nullity_mark",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "legal_grounds_mark",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "legal_grounds_mark",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "legal_grounds_considered",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "legal_grounds_considered",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "non_legal_grounds_mark",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "non_legal_grounds_mark",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "non_legal_grounds_considered",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "non_legal_grounds_considered",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "other_grounds_affecting_complexity",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "other_grounds_affecting_complexity",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "outcome",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "outcome",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "overall_case_level_for_iit_progression",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "overall_case_level_for_iit_progression",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "presentation_accuracy_mark",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "presentation_accuracy_mark",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "presentation_accuracy_detail",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "presentation_accuracy_detail",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "structure_reasoning_mark",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "structure_reasoning_mark",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "structure_reasoning_detail",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "structure_reasoning_detail",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "timeliness_mark",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "timeliness_mark",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "reading_complete_notification_needed",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "reading_complete_notification_needed",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_case_marking",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_checkmark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "CaseMarking.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Comment_State_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table comment_state_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Case_Marking",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.comment_state_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'CommentStateReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_comment_state_reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_checkmark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "CommentStateReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Comment_Type_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table comment_type_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Comment_State_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.comment_type_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'CommentTypeReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_checkmark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "CommentTypeReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Complexity_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table complexity_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Comment_Type_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.complexity_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'ComplexityReferencet.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_complexity_reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_checkmark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "ComplexityReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Conditions_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table conditions_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Complexity_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.conditions_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'ComplexityReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_conditions_reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_checkmark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "ConditionsReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Coverage_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table coverage_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Conditions_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.coverage_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'CoverageReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_coverage_reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_checkmark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "CoverageReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Grounds_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table grounds_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Coverage_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.grounds_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'GroundsReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_grounds_reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_checkmark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "GroundsReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Inspector_Manager",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table inspector_manager",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Grounds_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.inspector_manager"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'InspectorManager.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "email",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "email",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "type",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "type",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "specialism",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "specialism",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "report_list",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "report_list",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_inspector_manager",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_checkmark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "InspectorManager.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Invalid_Nullity_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table invalid_nullity_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Inspector_Manager",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.invalid_nullity_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'InvalidNullityReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_invalid_nullity_reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_checkmark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "InvalidNullityReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Level_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table level_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Invalid_Nullity_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.level_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'LevelReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_level_reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_checkmark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "LevelReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Manager_Type_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table manager_type_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Level_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.manager_type_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'ManagerTypeReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_manager_type_reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_checkmark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "ManagerTypeReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Nsi",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table nsi",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Manager_Type_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.nsi"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'Nsi.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "email",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "email",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_nsi",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_checkmark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "Nsi.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Outcome_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table outcome_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Nsi",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.outcome_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'OutcomeReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Checkmark_outcome_reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_checkmark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "OutcomeReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Presentation_Accuracy_Detail_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table presentation_accuracy_detail_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Outcome_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.presentation_accuracy_detail_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'PresentationAccuracyDetailReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_presentation_accuracy_detail_reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_checkmark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "PresentationAccuracyDetailReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Procedure_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table \n procedure_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Presentation_Accuracy_Detail_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.procedure_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'ProcedureReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_procedure_reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_checkmark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "ProcedureReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Reading_Case",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table reading_case",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Procedure_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.reading_case"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'ReadingCase.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "case_reference",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "case_reference",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "inspector_email",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inspector_email",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "inspector_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "inspector_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "reader_email",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "reader_email",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "reader_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "reader_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "case_level",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "case_level",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_submitted_by_inspector",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "date_submitted_by_inspector",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "event_date",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "event_date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "type_of_reading",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "type_of_reading",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "procedure",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "procedure",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "case_target_date",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "case_target_date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "reading_status",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "reading_status",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "able_to_read_decision",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "able_to_read_decision",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "advertisement",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "advertisement",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "appeal_against_conditions",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "appeal_against_conditions",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "bespoke",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "bespoke",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "case_team_officer_email",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "case_team_officer_email",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "case_team_officer_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "case_team_officer_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "costs_decision",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "costs_decision",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "green_belt",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "green_belt",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "kiosk",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "kiosk",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "linked",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "linked",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "neighbourhood_plan",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "neighbourhood_plan",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "nsi_email",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "nsi_email",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "nsi_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "nsi_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "prior_approval",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "prior_approval",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "reason_for_delay",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "reason_for_delay",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "redetermination",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "redetermination",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "secretary_of_state_report",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "secretary_of_state_report",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "spa_sac_eps",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "spa_sac_eps",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "special_category_data",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "special_category_data",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "specialisms",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "specialisms",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "telecommunications",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "telecommunications",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "urgent",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "urgent",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "amendments_received_notification_needed",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "amendments_received_notification_needed",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "able_to_check_amendments",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "able_to_check_amendments",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "amendments_cycles",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "amendments_cycles",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "amendments_target_date",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "amendments_target_date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "amendments_timeliness_review_flag",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "amendments_timeliness_review_flag",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_amendments_checked",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "date_amendments_checked",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_amendments_received",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "date_amendments_received",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_cleared",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "date_cleared",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_decision_sent_for_issue",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "date_decision_sent_for_issue",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_read",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "date_read",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_read_started",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "date_read_started",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "decision_read",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "decision_read",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "delayed_amendments_submission",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "delayed_amendments_submission",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "delayed_submission",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "delayed_submission",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "document_version",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "document_version",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "document_version_needed",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "document_version_needed",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "final_decision_notification_needed",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "final_decision_notification_needed",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "notification_sent_flag",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "notification_sent_flag",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "on_hold_notification_needed",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "on_hold_notification_needed",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "on_hold_status",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "on_hold_status",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "reading_complete_notification_needed",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "reading_complete_notification_needed",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "reading_needed_flag",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "reading_needed_flag",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ready_for_issue",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ready_for_issue",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "reason_for_amendments_delay",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "reason_for_amendments_delay",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "recall_notification_needed",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "recall_notification_needed",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "replacement_decision_flag",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "replacement_decision_flag",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "return_count",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "return_count",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "revised_decision_notification_needed",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "revised_decision_notification_needed",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "skim_read",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "skim_read",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "source",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "source",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "timeliness_review_flag",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "timeliness_review_flag",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_modified",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "date_modified",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_reading_case",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_checkmark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "ReadingCase.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Reading_Status_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table reading_status_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Reading_Case",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.reading_status_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'ReadingStatusReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_reading_status_reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_checkmark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "ReadingStatusReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Reading_Type_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table \n reading_type_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Reading_Status_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.reading_type_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'ReadingTypeReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_reading_type_reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_checkmark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "ReadingTypeReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Source_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table source_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Reading_Type_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.source_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'SourceReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_source_reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_checkmark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "SourceReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Structure_Reasoning_Detail_Reference",
				"description": "This is ingesting data into ODW Raw from miPINS checkmark table structure_reasoning_detail_reference",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Checkmark_Source_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.structure_reasoning_detail_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Checkmark', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'StructureReasoningDetailReference.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "checkmark_structure_reasoning_detail_reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "mipins_checkmark_data",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "StructureReasoningDetailReference.csv"
						}
					}
				]
			},
			{
				"name": "Checkmark_Case_Comment_Fail",
				"description": "The ingestion of Checkmark case data from MiPINS Checksum schema has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Checkmark_Case_Comment",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of Checkmark Case Comment data in 0_Raw_Checkmark_data pipeline has failed within Soruce to Raw ",
					"errorCode": "Checkmark_Case_Comment"
				}
			},
			{
				"name": "Logging Failed Activities",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Checkmark_Case_Comment_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Checkmark_Case_Comment_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Checkmark_Documents_Fail",
				"description": "The ingestion of Checkmark case data from MiPINS Checksum schema has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Checkmark_Documents",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of Checkmark Documents data in 0_Raw_Checkmark_data pipeline has failed within Soruce to Raw ",
					"errorCode": "Checkmark_Documents"
				}
			},
			{
				"name": "Logging Failed Activities-1",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Checkmark_Documents_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Checkmark_Documents_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-2",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Checkmark_Case_Marking_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Checkmark_Case_Marking_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Checkmark_Case_Marking_Fail",
				"description": "The ingestion of Checkmark case data from MiPINS Checksum schema has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Checkmark_Case_Marking",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": " The ingestion of Checkmark Case Marking data in 0_Raw_Checkmark_data pipeline has failed within Soruce to Raw ",
					"errorCode": "Checkmark_Case_Marking"
				}
			},
			{
				"name": "Checkmark_Comment_State_Reference_Fail",
				"description": "The ingestion of Checkmark case data from MiPINS Checksum schema has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Checkmark_Comment_State_Reference",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of Checkmark Comment State Reference data in 0_Raw_Checkmark_data pipeline has failed within Soruce to Raw ",
					"errorCode": "Checkmark_Comment_State_Reference"
				}
			},
			{
				"name": "Logging Failed Activities-3",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Checkmark_Comment_State_Reference_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Checkmark_Comment_State_Reference_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Checkmark_Comment_Type_Reference_Fail",
				"description": "The ingestion of Checkmark case data from MiPINS Checksum schema has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Checkmark_Comment_Type_Reference",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of Checkmark Comment Type Reference data in 0_Raw_Checkmark_data pipeline has failed within Soruce to Raw ",
					"errorCode": "Checkmark_Comment_Type_Reference"
				}
			},
			{
				"name": "Checkmark_Comment_State_Reference_Fail_copy2",
				"description": "The ingestion of Checkmark case data from MiPINS Checksum schema has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Checkmark_Complexity_Reference",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "  The ingestion of Checkmark Comment State Reference data in 0_Raw_Checkmark_data pipeline has failed within Soruce to Raw ",
					"errorCode": "Checkmark_Comment_State_Reference"
				}
			},
			{
				"name": "Checkmark_Conditions_Reference_Fail",
				"description": "The ingestion of Checkmark case data from MiPINS Checksum schema has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Checkmark_Conditions_Reference",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of Checkmark Conditions Reference data in 0_Raw_Checkmark_data pipeline has failed within Soruce to Raw ",
					"errorCode": "Checkmark_Conditions_Reference"
				}
			},
			{
				"name": "Checkmark_Coverage_Reference_Fail",
				"description": "The ingestion of Checkmark case data from MiPINS Checksum schema has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Checkmark_Coverage_Reference",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of Checkmark Coverage Reference data in 0_Raw_Checkmark_data pipeline has failed within Soruce to Raw ",
					"errorCode": "Checkmark_Coverage_Reference"
				}
			},
			{
				"name": "Checkmark_Grounds_Reference_Fail",
				"description": "The ingestion of Checkmark case data from MiPINS Checksum schema has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Checkmark_Grounds_Reference",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of Checkmark Grounds Reference data in 0_Raw_Checkmark_data pipeline has failed within Soruce to Raw ",
					"errorCode": "Checkmark_Grounds_Reference"
				}
			},
			{
				"name": "Checkmark_Inspector_Manager_Fail",
				"description": "The ingestion of Checkmark case data from MiPINS Checksum schema has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Checkmark_Inspector_Manager",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of Checkmark Inspector Manager data in 0_Raw_Checkmark_data pipeline has failed within Soruce to Raw ",
					"errorCode": "Checkmark_Inspector_Manager_Fail"
				}
			},
			{
				"name": "Checkmark_Invalid_Nullity_Reference_Fail",
				"description": "The ingestion of Checkmark case data from MiPINS Checksum schema has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Checkmark_Invalid_Nullity_Reference",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of Checkmark Invalid Nullity Reference data in 0_Raw_Checkmark_data pipeline has failed within Soruce to Raw ",
					"errorCode": "Checkmark_Invalid_Nullity_Reference"
				}
			},
			{
				"name": "Checkmark_Level_Reference_Fail",
				"description": "The ingestion of Checkmark case data from MiPINS Checksum schema has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Checkmark_Level_Reference",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of Checkmark Level Reference data in 0_Raw_Checkmark_data pipeline has failed within Soruce to Raw ",
					"errorCode": "Checkmark_Level_Reference"
				}
			},
			{
				"name": "Checkmark_Manager_Type_Reference_Fail",
				"description": "The ingestion of Checkmark case data from MiPINS Checksum schema has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Checkmark_Manager_Type_Reference",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of Checkmark Manager Type Reference data in 0_Raw_Checkmark_data pipeline has failed within Soruce to Raw ",
					"errorCode": "Checkmark_Manager_Type_Reference"
				}
			},
			{
				"name": "Checkmark_Nsi_Fail",
				"description": "The ingestion of Checkmark case data from MiPINS Checksum schema has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Checkmark_Nsi",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": " The ingestion of Checkmark Nsi data in 0_Raw_Checkmark_data pipeline has failed within Soruce to Raw ",
					"errorCode": "Checkmark_Nsi"
				}
			},
			{
				"name": "Checkmark_Outcome_Reference_Fail",
				"description": "The ingestion of Checkmark case data from MiPINS Checksum schema has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Checkmark_Outcome_Reference",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of Checkmark Outcome Reference data in 0_Raw_Checkmark_data pipeline has failed within Soruce to Raw ",
					"errorCode": "Checkmark_Outcome_Reference"
				}
			},
			{
				"name": "Checkmark_Presentation_Accuracy_Detail_Reference_Fail",
				"description": "The ingestion of Checkmark case data from MiPINS Checksum schema has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Checkmark_Presentation_Accuracy_Detail_Reference",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of Checkmark Case data from MiPINS Checksum schema has failed",
					"errorCode": "0_Raw_Checkmark_Case_Data_Pipeline_Fail1"
				}
			},
			{
				"name": "Checkmark_Procedure_Reference_Fail",
				"description": "The ingestion of Checkmark case data from MiPINS Checksum schema has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Checkmark_Procedure_Reference",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of Checkmark Presentation Accuracy Detail Reference data in 0_Raw_Checkmark_data pipeline has failed within Soruce to Raw ",
					"errorCode": "Checkmark_Presentation_Accuracy_Detail_Reference"
				}
			},
			{
				"name": "Checkmark_Reading_Case_Fail",
				"description": "The ingestion of Checkmark case data from MiPINS Checksum schema has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Checkmark_Reading_Case",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of Checkmark Reading Case data in 0_Raw_Checkmark_data pipeline has failed within Soruce to Raw ",
					"errorCode": "Checkmark_Reading_Case"
				}
			},
			{
				"name": "Checkmark_Reading_Status_Reference_Fail",
				"description": "The ingestion of Checkmark case data from MiPINS Checksum schema has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Checkmark_Reading_Status_Reference",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of Checkmark Reading Status Reference data in 0_Raw_Checkmark_data pipeline has failed within Soruce to Raw ",
					"errorCode": "Checkmark_Reading_Status_Reference_Fail"
				}
			},
			{
				"name": "Checkmark_Reading_Type_Reference_Fail",
				"description": "The ingestion of Checkmark case data from MiPINS Checksum schema has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Checkmark_Reading_Type_Reference",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of Checkmark Reading Type Reference data in 0_Raw_Checkmark_data pipeline has failed within Soruce to Raw ",
					"errorCode": "Checkmark_Reading_Type_Reference"
				}
			},
			{
				"name": "Checkmark_Source_Reference_Fail",
				"description": "The ingestion of Checkmark case data from MiPINS Checksum schema has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Checkmark_Source_Reference",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of Checkmark Source Reference data in 0_Raw_Checkmark_data pipeline has failed within Soruce to Raw ",
					"errorCode": "Checkmark_Source_Reference"
				}
			},
			{
				"name": "Logging Failed Activities-4",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Checkmark_Comment_Type_Reference_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Checkmark_Comment_Type_Reference_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-5",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Checkmark_Comment_State_Reference_Fail_copy2",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Checkmark_Complexity_Reference_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-6",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Checkmark_Conditions_Reference_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Checkmark_Conditions_Reference_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-7",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Checkmark_Coverage_Reference_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Checkmark_Coverage_Reference_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-8",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Checkmark_Grounds_Reference_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Checkmark_Grounds_Reference_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-9",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Checkmark_Inspector_Manager_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Checkmark_Inspector_Manager_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-10",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Checkmark_Invalid_Nullity_Reference_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Checkmark_Invalid_Nullity_Reference_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-11",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Checkmark_Level_Reference_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Checkmark_Level_Reference_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-12",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Checkmark_Manager_Type_Reference_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Checkmark_Manager_Type_Reference_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-13",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Checkmark_Nsi_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Checkmark_Nsi_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-14",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Checkmark_Outcome_Reference_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Checkmark_Outcome_Reference_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-15",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Checkmark_Presentation_Accuracy_Detail_Reference_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Checkmark_Presentation_Accuracy_Detail_Reference_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-16",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Checkmark_Procedure_Reference_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Checkmark_Procedure_Reference_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-17",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Checkmark_Reading_Case_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Checkmark_Reading_Case_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-18",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Checkmark_Reading_Status_Reference_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Checkmark_Reading_Status_Reference_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-19",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Checkmark_Reading_Type_Reference_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Checkmark_Reading_Type_Reference_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-20",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Checkmark_Source_Reference_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Checkmark_Source_Reference_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Checkmark_Structure_Reasoning_Detail_Reference_Fail",
				"description": "The ingestion of Checkmark case data from MiPINS Checksum schema has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Checkmark_Structure_Reasoning_Detail_Reference",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "The ingestion of Checkmark Structure Reasoning Detail Reference data in 0_Raw_Checkmark_data pipeline has failed within Soruce to Raw ",
					"errorCode": "Checkmark_Structure_Reasoning_Detail_Reference"
				}
			},
			{
				"name": "Logging Failed Activities-21",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Checkmark_Structure_Reasoning_Detail_Reference_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Checkmark_Structure_Reasoning_Detail_Reference_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			}
		],
		"folder": {
			"name": "0_Raw_Checkmark_Data_Copy"
		},
		"annotations": []
	}
}