workspace/pipeline/0_Raw_IMS_Initial_load.json
{
	"name": "0_Raw_IMS_Initial_load",
	"properties": {
		"description": "one off load of the current IMS data",
		"activities": [
			{
				"name": "IMS_Attribute",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "ims.bdc_attribute"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('IMS', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'IMS_Attribute.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "bdca_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "bdca_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "bdc_attribute_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "bdc_attribute_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_bdc_attribute_number",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ims_bdc_attribute_number",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "bdc_attribute_num_container_",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "bdc_attribute_num_container_",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "bdc_entity_name_container_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "bdc_entity_name_container_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "bdc_entity_num_container_",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "bdc_entity_num_container_",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "is_this_personal_data_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "is_this_personal_data_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "minimise_after_processing_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "minimise_after_processing_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "help",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "help",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "is_this_special_category_data",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "is_this_special_category_data",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "retention_period",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "retention_period",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_bdc_entity_ims_bdc_attribute_1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_bdc_entity_ims_bdc_attribute_1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_bdc_entity_ims_bdc_attribute_1_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_bdc_entity_ims_bdc_attribute_1_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_bdc_entity_ims_bdc_attribute_1ims_bdc_entity_ida",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_bdc_entity_ims_bdc_attribute_1ims_bdc_entity_ida",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_bdc_attribute_ims_master_data_map_1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_bdc_attribute_ims_master_data_map_1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "user_id_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "user_id_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "information_owner_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "information_owner_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "user_id1_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "user_id1_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "information_expert_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "information_expert_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "type",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "priority",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "priority",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "resolution",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "resolution",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "work_log",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "work_log",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "fk_bdce_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "fk_bdce_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_modified",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date_modified",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IMS_Attribute",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "IMSAttribute",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "IMS_Attribute.csv"
						}
					}
				]
			},
			{
				"name": "IMS_Entity",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "IMS_Attribute",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "ims.bdc_entity"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('IMS', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'IMS_Entity.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "bdce_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "bdce_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "bdc_entity_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "bdc_entity_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_bdc_entity_number",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ims_bdc_entity_number",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "bdc_entity_name_container_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "bdc_entity_name_container_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "bdc_entity_num_container_",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "bdc_entity_num_container_",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "business_area_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "business_area_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_bdc_entity_ims_data_flow_1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_bdc_entity_ims_data_flow_1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_bdc_entity_ims_data_flow_2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_bdc_entity_ims_data_flow_2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_bdc_entity_ims_bdc_attribute_1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_bdc_entity_ims_bdc_attribute_1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "user_id_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "user_id_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "information_owner_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "information_owner_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "user_id1_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "user_id1_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "information_expert_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "information_expert_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "type",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "priority",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "priority",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "resolution",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "resolution",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "work_log",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "work_log",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "business_criticality",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "business_criticality",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_modified",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date_modified",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IMS_Entity",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "IMSEntity",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "IMS_Entity.csv"
						}
					}
				]
			},
			{
				"name": "IMS_DataFlow",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "IMS_Entity",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "ims.data_flow"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('IMS', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'<FileName>'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "df_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "df_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_entered",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date_entered",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_modified",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date_modified",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "modified_user_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "modified_user_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "modified_by_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "modified_by_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "created_by",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "created_by",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "created_by_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "created_by_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "description",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "description",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "deleted",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "deleted",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "created_by_link",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "created_by_link",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "modified_user_link",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "modified_user_link",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "assigned_user_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "assigned_user_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "assigned_user_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "assigned_user_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "assigned_user_link",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "assigned_user_link",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SecurityGroups",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SecurityGroups",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_data_flow_number",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ims_data_flow_number",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "type",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "priority",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "priority",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "resolution",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "resolution",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "work_log",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "work_log",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "help",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "help",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_information_assets_ims_data_flow_1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_information_assets_ims_data_flow_1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_information_assets_ims_data_flow_1_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_information_assets_ims_data_flow_1_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_information_assets_ims_data_flow_1ims_information_assets_ida",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_information_assets_ims_data_flow_1ims_information_assets_ida",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_information_assets_ims_data_flow_2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_information_assets_ims_data_flow_2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_information_assets_ims_data_flow_2_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_information_assets_ims_data_flow_2_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_information_assets_ims_data_flow_2ims_information_assets_ida",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_information_assets_ims_data_flow_2ims_information_assets_ida",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_bdc_entity_ims_data_flow_1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_bdc_entity_ims_data_flow_1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_bdc_entity_ims_data_flow_1_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_bdc_entity_ims_data_flow_1_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_bdc_entity_ims_data_flow_1ims_bdc_entity_ida",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_bdc_entity_ims_data_flow_1ims_bdc_entity_ida",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_bdc_entity_ims_data_flow_2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_bdc_entity_ims_data_flow_2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_bdc_entity_ims_data_flow_2_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_bdc_entity_ims_data_flow_2_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_bdc_entity_ims_data_flow_2ims_bdc_entity_ida",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_bdc_entity_ims_data_flow_2ims_bdc_entity_ida",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_integration_ims_data_flow_1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_integration_ims_data_flow_1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_integration_ims_data_flow_1_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_integration_ims_data_flow_1_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_integration_ims_data_flow_1ims_integration_ida",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_integration_ims_data_flow_1ims_integration_ida",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "user_id_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "user_id_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "information_owner_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "information_owner_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "user_id1_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "user_id1_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "information_expert_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "information_expert_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "fk_bdc_ent_source_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "fk_bdc_ent_source_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "fk_bdc_ent_dest_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "fk_bdc_ent_dest_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "fk_int_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "fk_int_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "fk_info_asset_source_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "fk_info_asset_source_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "fk_info_asset_dest_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "fk_info_asset_dest_id",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IMS_DataFlow",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "IMSDataFlow",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "IMS_DataFlow.csv"
						}
					}
				]
			},
			{
				"name": "IMS_DPIA",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "IMS_DataFlow",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "ims.dpia"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('IMS', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'IMS_DPIA.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "dpia_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "dpia_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "assigned_user_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "assigned_user_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "assigned_user_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "assigned_user_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_dpia_number",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ims_dpia_number",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "pm_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "pm_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "contract_owner",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "contract_owner",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "organisation_areas_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "organisation_areas_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "link_draft_dpia_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "link_draft_dpia_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_registered_",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date_registered_",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_to_mhclg_c",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date_to_mhclg_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_to_welsh_gov_c",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date_to_welsh_gov_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_returned_by_mhclg_c",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date_returned_by_mhclg_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_returned_by_welsh_gov_c",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date_returned_by_welsh_gov_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_returned_to_iao_pm_c",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date_returned_to_iao_pm_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_dpia_completed_c",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date_dpia_completed_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_signed_off_at_risk_c",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date_signed_off_at_risk_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_iao_accepted_risks_c",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date_iao_accepted_risks_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "review_period",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "review_period",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "last_current_and_accurate_date",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "last_current_and_accurate_date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "dpia_num_container_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "dpia_num_container_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "help",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "help",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_to_sdpm",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date_to_sdpm",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "residual_risks",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "residual_risks",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "disagreement",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "disagreement",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "io_decision_outcome",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "io_decision_outcome",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "io_screening_outcome",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "io_screening_outcome",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_dpia_ims_integration_1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_dpia_ims_integration_1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "document_id_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "document_id_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "dpia_controlled_document_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "dpia_controlled_document_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_of_next_review_c",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date_of_next_review_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_implementation_reqs_com_c",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date_implementation_reqs_com_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "user_id_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "user_id_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "information_owner_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "information_owner_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "user_id1_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "user_id1_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "information_expert_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "information_expert_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_modified",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date_modified",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "pers_resp_implementation_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "pers_resp_implementation_c",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IMSDPIA",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "IMS_DPIA",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "IMS_DPIA.csv"
						}
					}
				]
			},
			{
				"name": "IMS_DSA",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "IMS_DPIA",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "ims.dsa"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('IMS', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'IMS_DSA.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "dsa_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "dsa_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "assigned_user_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "assigned_user_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "assigned_user_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "assigned_user_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_data_sharing_number",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ims_data_sharing_number",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "type",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "priority",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "priority",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "data_being_shared_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "data_being_shared_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "direction_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "direction_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "why_shared_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "why_shared_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "how_shared_securely_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "how_shared_securely_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "how_stored_securely_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "how_stored_securely_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "frequency_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "frequency_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "lawful_basis_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "lawful_basis_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "personal_data_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "personal_data_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "special_category_data_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "special_category_data_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "special_category_basis_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "special_category_basis_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "retention_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "retention_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "destruction_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "destruction_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "who_will_have_access_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "who_will_have_access_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "transfers_outside_of_uk_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "transfers_outside_of_uk_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "data_sharing_num_container_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "data_sharing_num_container_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "help",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "help",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "data_discloser_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "data_discloser_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "data_receiver_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "data_receiver_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "dsa_schedules",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "dsa_schedules",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "documents_ims_data_sharing_1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "documents_ims_data_sharing_1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "documents_ims_data_sharing_1_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "documents_ims_data_sharing_1_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "documents_ims_data_sharing_1documents_ida",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "documents_ims_data_sharing_1documents_ida",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_data_sharing_ims_integration_1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_data_sharing_ims_integration_1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "controllership_type_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "controllership_type_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_of_next_review_c",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date_of_next_review_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "end_date_c",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "end_date_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "party_1_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "party_1_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "party_3_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "party_3_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "party_2_contact_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "party_2_contact_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "personal_data_shared_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "personal_data_shared_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "special_category_data_shared_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "special_category_data_shared_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "start_date_c",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "start_date_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "user_id_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "user_id_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "information_owner_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "information_owner_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "user_id1_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "user_id1_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "information_expert_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "information_expert_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "last_current_and_accurate_d_c",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "last_current_and_accurate_d_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "party_2_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "party_2_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "party_1_contact_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "party_1_contact_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "party_3_contact_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "party_3_contact_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "planning_legislation_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "planning_legislation_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "third_party_recipients_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "third_party_recipients_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "review_period_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "review_period_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_modified",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date_modified",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IMSDSA",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "IMS_DSA",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "IMS_DSA.csv"
						}
					}
				]
			},
			{
				"name": "IMS_Information_Asset",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "IMS_DSA",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "ims.information_asset"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('IMS', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'IMS_InformationAsset.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ia_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ia_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "assigned_user_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "assigned_user_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "assigned_user_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "assigned_user_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_information_assets_number",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ims_information_assets_number",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "primary_business_area_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "primary_business_area_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "location_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "location_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "contracted_service_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "contracted_service_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "region_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "region_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "purpose_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "purpose_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "financial_value_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "financial_value_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "business_criticality_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "business_criticality_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "data_disposal_routine_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "data_disposal_routine_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "last_current_and_accurate_date",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "last_current_and_accurate_date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "review_period",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "review_period",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "information_as_num_container_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "information_as_num_container_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "help",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "help",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "user_licences",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "user_licences",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "superuser_licences",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "superuser_licences",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "sys_admin_licences",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "sys_admin_licences",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "infosec_risk_register",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "infosec_risk_register",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "custodian",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "custodian",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_of_last_dr_check",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date_of_last_dr_check",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "backup_location",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "backup_location",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "dr_check_frequency",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "dr_check_frequency",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "backup_frequency",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "backup_frequency",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "asset_format_list_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asset_format_list_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "management_register_text_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "management_register_text_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "software_version",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "software_version",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "access_control_method",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "access_control_method",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "backup_required",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "backup_required",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "decommision_date",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "decommision_date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "dr_test_required",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "dr_test_required",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "encryption_at_rest",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "encryption_at_rest",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_information_assets_ims_data_flow_1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_information_assets_ims_data_flow_1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_information_assets_ims_data_flow_2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_information_assets_ims_data_flow_2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_information_assets_ims_master_data_map_1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_information_assets_ims_master_data_map_1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_information_assets_ims_information_assets_1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_information_assets_ims_information_assets_1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_information_assets_ims_information_assets_1_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_information_assets_ims_information_assets_1_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_inform2f55_assets_ida",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_inform2f55_assets_ida",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_information_assets_aos_contracts_1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_information_assets_aos_contracts_1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_modified",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date_modified",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_of_next_review_c",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date_of_next_review_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "owner_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "owner_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "risk_assessment_type_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "risk_assessment_type_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "link_to_risk_assessment_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "link_to_risk_assessment_c",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IMSInformationAsset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "IMS_InformationAsset",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "IMS_InformationAsset.csv"
						}
					}
				]
			},
			{
				"name": "IMS_Intergration",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "IMS_Information_Asset",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "ims.integration"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('IMS', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'IMS_Intergration.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "int_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "int_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_entered",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date_entered",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_modified",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date_modified",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "modified_user_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "modified_user_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "modified_by_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "modified_by_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "created_by",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "created_by",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "created_by_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "created_by_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "description",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "description",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "deleted",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "deleted",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "created_by_link",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "created_by_link",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "modified_user_link",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "modified_user_link",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "assigned_user_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "assigned_user_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "assigned_user_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "assigned_user_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "assigned_user_link",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "assigned_user_link",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "SecurityGroups",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SecurityGroups",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_integration_number",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ims_integration_number",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "type",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "priority",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "priority",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "resolution",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "resolution",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "work_log",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "work_log",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "commission_date_c",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "commission_date_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "decommission_date_c",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "decommission_date_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "frequency_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "frequency_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "int_num_container_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "int_num_container_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "internal_external_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "internal_external_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "help",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "help",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "encryption_in_transit",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "encryption_in_transit",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_ropa_ims_integration_1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_ropa_ims_integration_1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_dpia_ims_integration_1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_dpia_ims_integration_1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_data_sharing_ims_integration_1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_data_sharing_ims_integration_1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_integration_ims_data_flow_1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_integration_ims_data_flow_1",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IMSIntergration",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "IMS_Intergration",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "IMS_Intergration.csv"
						}
					}
				]
			},
			{
				"name": "IMS_MasterDataMap",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "IMS_Intergration",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "ims.master_data_map"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('IMS', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'IMS_MasterDataMap.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "mdm_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "mdm_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_master_data_map_number",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ims_master_data_map_number",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "bdc_attribute_number_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "bdc_attribute_number_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "bdc_entity_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "bdc_entity_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "bdc_entity_number_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "bdc_entity_number_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "mdm_text_container_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "mdm_text_container_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "master_data_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "master_data_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "help",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "help",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "volume_of_records",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "volume_of_records",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_information_assets_ims_master_data_map_1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_information_assets_ims_master_data_map_1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_information_assets_ims_master_data_map_1_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_information_assets_ims_master_data_map_1_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_informed1b_assets_ida",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_informed1b_assets_ida",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_bdc_attribute_ims_master_data_map_1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_bdc_attribute_ims_master_data_map_1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_bdc_attribute_ims_master_data_map_1_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_bdc_attribute_ims_master_data_map_1_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_bdc_attribute_ims_master_data_map_1ims_bdc_attribute_ida",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_bdc_attribute_ims_master_data_map_1ims_bdc_attribute_ida",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "user_id_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "user_id_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "information_owner_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "information_owner_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "user_id1_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "user_id1_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "information_expert_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "information_expert_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "type",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "priority",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "priority",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "resolution",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "resolution",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "work_log",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "work_log",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "fk_bdca_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "fk_bdca_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "fk_ia_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "fk_ia_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_modified",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date_modified",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IMSMasterDataMap",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "IMS_MasterDataMap",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "IMS_MasterDataMap.csv"
						}
					}
				]
			},
			{
				"name": "IMS_ROPA",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "IMS_MasterDataMap",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "ims.ropa"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('IMS', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'IMS_ROPA.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ropa_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ropa_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "assigned_user_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "assigned_user_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "assigned_user_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "assigned_user_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_ropa_number",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ims_ropa_number",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "type",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "status",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "status",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "priority",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "priority",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "organisation_areas_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "organisation_areas_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "data_controllers_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "data_controllers_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "joint_controller_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "joint_controller_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "categories_of_personal_data_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "categories_of_personal_data_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "categories_of_recipients_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "categories_of_recipients_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "security_measures_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "security_measures_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "third_country_names_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "third_country_names_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "third_country_safeguards_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "third_country_safeguards_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "legitimate_interest_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "legitimate_interest_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "automated_decision_making_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "automated_decision_making_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "data_source_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "data_source_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "records_of_consent_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "records_of_consent_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "location_of_data_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "location_of_data_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "dpia_required_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "dpia_required_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "dpia_status_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "dpia_status_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "retention_policy_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "retention_policy_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "retention_policy_applied_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "retention_policy_applied_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "data_breach_record_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "data_breach_record_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "retention_not_adhered_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "retention_not_adhered_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "privacy_notice_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "privacy_notice_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "categories_of_individuals_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "categories_of_individuals_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ropa_num_container_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ropa_num_container_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "help",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "help",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "retention_schedule",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "retention_schedule",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "business_function",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "business_function",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "dpo",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "dpo",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "data_breach_occurred_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "data_breach_occurred_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "last_current_and_accurate_da_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "last_current_and_accurate_da_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "gdpr_lawful_basis_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "gdpr_lawful_basis_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "gdpr_special_category_conditio",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "gdpr_special_category_conditio",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "dpa_2018_sch1_condition_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "dpa_2018_sch1_condition_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "rights_of_data_subject_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "rights_of_data_subject_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "business_function_unstructured",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "business_function_unstructured",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "bdc_entity_temp_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "bdc_entity_temp_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "cat_of_individuals_temp_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "cat_of_individuals_temp_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "documents_ims_ropa_1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "documents_ims_ropa_1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "documents_ims_ropa_1_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "documents_ims_ropa_1_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "documents_ims_ropa_1documents_ida",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "documents_ims_ropa_1documents_ida",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_ropa_ims_integration_1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_ropa_ims_integration_1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "estimated_number_of_operator_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "estimated_number_of_operator_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "user_id_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "user_id_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "information_owner_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "information_owner_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "user_id1_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "user_id1_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "information_expert_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "information_expert_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date_modified",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "date_modified",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ims_ropa_documents_1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ims_ropa_documents_1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "gdpr_lawful_basis_ms_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "gdpr_lawful_basis_ms_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "gdpr_special_cat_condition_m_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "gdpr_special_cat_condition_m_c",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "dpa_2018_sch1_condition_ms_c",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "dpa_2018_sch1_condition_ms_c",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "IMSROPA",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "IMS_ROPA",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "IMS_ROPA.csv"
						}
					}
				]
			},
			{
				"name": "IMS_Attribute_Fail",
				"description": "The copy activity has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "IMS_Attribute",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [
					{
						"name": "Michael Cross",
						"value": "michael.cross@planninginspectorate.gov.uk"
					}
				],
				"typeProperties": {
					"message": "IMS Attribute Data Copy Failed",
					"errorCode": "IMSAttribute Fail"
				}
			},
			{
				"name": "IMS_Attribute_Log",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "IMS_Attribute_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('IMS_Attribute_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "IMS_Entity_Fail",
				"description": "The copy activity has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "IMS_Entity",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [
					{
						"name": "Michael Cross",
						"value": "michael.cross@planninginspectorate.gov.uk"
					}
				],
				"typeProperties": {
					"message": "IMS Entity Data Copy Fail",
					"errorCode": "IMS Entity Fail"
				}
			},
			{
				"name": "IMS_Entity_Log",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "IMS_Entity_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('IMS_Entity_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "IMS_DataFlow_Fail",
				"description": "The copy activity has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "IMS_DataFlow",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [
					{
						"name": "Michael Cross",
						"value": "michael.cross@planninginspectorate.gov.uk"
					}
				],
				"typeProperties": {
					"message": "IMS Dataflow Copy Has Failed",
					"errorCode": "IMS Dataflow Fail"
				}
			},
			{
				"name": "IMS_DataFlow_Log",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "IMS_DataFlow_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('IMS_DataFlow_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "IMS_DPIA_Fail",
				"description": "The copy activity has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "IMS_DPIA",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [
					{
						"name": "Michael Cross",
						"value": "michael.cross@planninginspectorate.gov.uk"
					}
				],
				"typeProperties": {
					"message": "IMS DPIA Copy Has Failed",
					"errorCode": "IMS DPIA Fail"
				}
			},
			{
				"name": "IMS_DPIA_Log",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "IMS_DPIA_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('IMS_DPIA_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "IMS_DSA_Fail",
				"description": "The copy activity has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "IMS_DSA",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [
					{
						"name": "Michael Cross",
						"value": "michael.cross@planninginspectorate.gov.uk"
					}
				],
				"typeProperties": {
					"message": "IMS DSA Copy Has Failed",
					"errorCode": "IMS DSA Fail"
				}
			},
			{
				"name": "IMS_DSA_Log",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "IMS_DSA_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('IMS_DSA_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "IMS_InformationAsset_Fail",
				"description": "The copy activity has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "IMS_Information_Asset",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [
					{
						"name": "Michael Cross",
						"value": "michael.cross@planninginspectorate.gov.uk"
					}
				],
				"typeProperties": {
					"message": "IMS InformationAsset Copy Has Failed",
					"errorCode": "IMS InfoAsset Fail"
				}
			},
			{
				"name": "IMS_InformationAsset_Log",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "IMS_InformationAsset_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('IMS_InformationAsset_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "IMS_Intergration_Fail",
				"description": "The copy activity has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "IMS_Intergration",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [
					{
						"name": "Michael Cross",
						"value": "michael.cross@planninginspectorate.gov.uk"
					}
				],
				"typeProperties": {
					"message": "IMS Intergration Copy Has Failed",
					"errorCode": "IMS Intergration Fail"
				}
			},
			{
				"name": "IMS_Intergration_Log",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "IMS_Intergration_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('IMS_Intergration_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "IMS_MasterDataMap_Fail",
				"description": "The copy activity has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "IMS_MasterDataMap",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [
					{
						"name": "Michael Cross",
						"value": "michael.cross@planninginspectorate.gov.uk"
					}
				],
				"typeProperties": {
					"message": "IMS MasterDataMap Copy Has Failed",
					"errorCode": "IMS MasterDataMap Fail"
				}
			},
			{
				"name": "IMS_MasterDataMap_Log",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "IMS_MasterDataMap_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('IMS_MasterDataMap_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "IMS_ROPA_Fail",
				"description": "The copy activity has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "IMS_ROPA",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [
					{
						"name": "Michael Cross",
						"value": "michael.cross@planninginspectorate.gov.uk"
					}
				],
				"typeProperties": {
					"message": "IMS ROPA Copy Has Failed",
					"errorCode": "IMS ROPA Fail"
				}
			},
			{
				"name": "IMS_ROPA_Log",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "IMS_ROPA_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('IMS_ROPA_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			}
		],
		"folder": {
			"name": "ims/layers/0-raw"
		},
		"annotations": []
	}
}