workspace/pipeline/0_Raw_Event Dates.json
{
	"name": "0_Raw_Event Dates",
	"properties": {
		"description": "Getting Accurate Event Dates used in the High Court PBI Reports",
		"activities": [
			{
				"name": "Horizon_vw_BIS_Event",
				"description": "This is getting the view data used in the high court event dates",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.Horizon_vw_BIS_Event"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('HighCourt', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'<FileName>'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "06:40:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "AppealRefNumber",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "AppealRefNumber",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CaseReference",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CaseReference",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EventType",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EventType",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ChartStatus",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ChartStatus",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ParentKeyID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ParentKeyID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "StartDateOfEvent",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "StartDateOfEvent",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "StartTimeOfEvent",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "StartTimeOfEvent",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EndDateOfEvent",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "EndDateOfEvent",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DateEventRequested",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "DateEventRequested",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ActualDuration",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ActualDuration",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EstPrepTime",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EstPrepTime",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EstSitTime",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EstSitTime",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "EstRepTime",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EstRepTime",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Horizon_vw_BIS_Event",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "HorizonVwBISEvent",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "HorizonVwBISEvent.csv"
						}
					}
				]
			},
			{
				"name": "Horizon_vw_BIS_Event_Fail",
				"description": "The Ingestion of dbo.Horizon_vw_BIS_Event into ODW Raw has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Horizon_vw_BIS_Event",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Ingestion of dbo.Horizon_vw_BIS_Event into ODW Raw has failed",
					"errorCode": "HorizonVwBISEventFail1"
				}
			},
			{
				"name": "Logging Failed Activity-1",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Horizon_vw_BIS_Event_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Horizon_vw_BIS_Event_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			}
		],
		"folder": {
			"name": "0_Raw_High_Court"
		},
		"annotations": []
	}
}