workspace/pipeline/0_Raw_Horizon_Document_Metadata_full.json
{
	"name": "0_Raw_Horizon_Document_Metadata_full",
	"properties": {
		"activities": [
			{
				"name": "Horizon_Document_Metadata",
				"description": "Getting document metadata from Horizon via a SQL View",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.Horizon_ODW_vw_DocumentMetadata"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Horizon', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'DocumentMetaData.csv'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM Horizon_ODW_vw_DocumentMetadata",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "DataId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "DataId",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CaseNodeId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CaseNodeId",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "caseReference",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "caseReference",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "documentReference",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "documentReference",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Version",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Version",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "DataSize",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "DataSize",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "virusCheckStatus",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "virusCheckStatus",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "CreateDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CreateDate",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ModifyDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ModifyDate",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "caseworkType",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "caseworkType",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "publishedStatus",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "publishedStatus",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "datePublished",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "datePublished",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "documentType",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "documentType",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "sourceSystem",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "sourceSystem",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "author",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "author",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "representative",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "representative",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "documentDescription",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "documentDescription",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "documentCaseStage",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "documentCaseStage",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "filter1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "filter1",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "filter2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "filter2",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ParentID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ParentID",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Document_Metadata",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Horizon_DocumentMetadata",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "DocumentMetaData.csv"
						}
					}
				]
			},
			{
				"name": "Document_Metadata_Copy_Failure",
				"description": "The copy activity from Horizon has failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Horizon_Document_Metadata",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [
					{
						"name": "Michael Cross",
						"value": "michael.cross@planninginspectorate.gov.uk"
					}
				],
				"typeProperties": {
					"message": "Folder copy to Raw has failed",
					"errorCode": "Horizon_Document_Metadata_Copy"
				}
			},
			{
				"name": "Logging Failed Document_Metadata",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Document_Metadata_Copy_Failure",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Document_Metadata_Copy_Failure').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			}
		],
		"folder": {
			"name": "utils/Master/Deployment"
		},
		"annotations": []
	}
}