workspace/pipeline/0_Timesheets_Data_Copy_RAW.json
{
	"name": "0_Timesheets_Data_Copy_RAW",
	"properties": {
		"description": "copy timesheets calendar data",
		"activities": [
			{
				"name": "Timesheets_Calendar",
				"description": "Import of timesheets.calendar data into ODW Raw layer",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "timesheets.calendar"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Timesheets', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'<FileName>'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "first_date_of_week",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "first_date_of_week",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "created_at",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "calendar_date",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "calendar_date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "calendar_date_string",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "calendar_date_string",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "calendar_month",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "calendar_month",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "calendar_day",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "calendar_day",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "calendar_year",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "calendar_year",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "calendar_quarter",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "calendar_quarter",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "day_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "day_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "day_of_week",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "day_of_week",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "day_of_year",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "day_of_year",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "week_of_year",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "week_of_year",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "month_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "month_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "last_date_of_week",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "last_date_of_week",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "first_date_of_month",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "first_date_of_month",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "last_date_of_month",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "last_date_of_month",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "first_date_of_year",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "first_date_of_year",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "last_date_of_year",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "last_date_of_year",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "is_holiday",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "is_holiday",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "holiday_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "holiday_name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "is_weekday",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "is_weekday",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "is_business_day",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "is_business_day",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "previous_business_day",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "previous_business_day",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "next_business_day",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "next_business_day",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "is_leap_year",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "is_leap_year",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "days_in_month",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "days_in_month",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "updated_at",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "updated_at",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Timesheets_Calendar",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Timesheets_Data",
						"type": "DatasetReference",
						"parameters": {
							"Filename": "Calendar.csv"
						}
					}
				]
			},
			{
				"name": "Timesheets_Calendar_Fail",
				"description": "Timesheets calendar data has failed to import into ODW Raw",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Timesheets_Calendar",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [
					{
						"name": "Michael Cross",
						"value": "michael.cross@plannninginspectorate.gov.uk"
					}
				],
				"typeProperties": {
					"message": "Timesheets calendar data has failed to import into ODW Raw",
					"errorCode": "Timesheets_Calendar1"
				}
			},
			{
				"name": "Timesheets_Employee",
				"description": "Import of timesheets.employee data into ODW Raw layer",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Timesheets_Calendar",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "timesheets.employee"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Timesheets', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'<FileName>'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "employee_id",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "employee_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "manager_id",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "manager_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "business_area",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "business_area",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "core_minutes",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "core_minutes",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "start_date",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "start_date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "end_date",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "end_date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "balance_minutes",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "balance_minutes",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "created_at",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "updated_at",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "updated_at",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "staff_number",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "staff_number",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "grade",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "grade",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Timesheets_Employee",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Timesheets_Data",
						"type": "DatasetReference",
						"parameters": {
							"Filename": "Employee.csv"
						}
					}
				]
			},
			{
				"name": "Timesheets_Employee_Fail",
				"description": "Timesheets Employee data has failed to import into ODW Raw",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Timesheets_Employee",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [
					{
						"name": "Michael Cross",
						"value": "michael.cross@plannninginspectorate.gov.uk"
					}
				],
				"typeProperties": {
					"message": "Timesheets employee data has failed to import into ODW Raw",
					"errorCode": "Timesheets_Employee1"
				}
			},
			{
				"name": "Timesheets_Segment_Type_Reference",
				"description": "Import of timesheets.segment_type_reference data into ODW Raw layer",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Timesheets_Employee",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "timesheets.segment_type_reference"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Timesheets', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'<FileName>'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "segment_type_id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "segment_type_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "segment_type_description",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "segment_type_description",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "segment_type_shortname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "segment_type_shortname",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "segment_type_validity",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "segment_type_validity",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "future_selectable",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "future_selectable",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Timesheets_Segment_Type_Reference",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Timesheets_Data",
						"type": "DatasetReference",
						"parameters": {
							"Filename": "Segment_Type_Reference.csv"
						}
					}
				]
			},
			{
				"name": "Segment_Type_Reference_Fail",
				"description": "Timesheets Segment type data has failed to import into ODW Raw",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Timesheets_Segment_Type_Reference",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [
					{
						"name": "Michael Cross",
						"value": "michael.cross@plannninginspectorate.gov.uk"
					}
				],
				"typeProperties": {
					"message": "Timesheets Segment type data has failed to import into ODW Raw",
					"errorCode": "Timesheets_SegmentType1"
				}
			},
			{
				"name": "Timesheets_Work_Segment",
				"description": "Import of timesheets.work_segment data into ODW Raw layer",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Timesheets_Segment_Type_Reference",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "timesheets.work_segment"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Timesheets', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'<FileName>'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "segment_id",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "segment_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "employee_id",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "employee_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "segment_date",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "segment_date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "start_time",
									"type": "TimeSpan",
									"physicalType": "time"
								},
								"sink": {
									"name": "start_time",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "end_time",
									"type": "TimeSpan",
									"physicalType": "time"
								},
								"sink": {
									"name": "end_time",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "case_reference",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "case_reference",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "segment_type",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "segment_type",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "worked_minutes",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "worked_minutes",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "created_at",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "updated_at",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "updated_at",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "case_display_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "case_display_name",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Timesheets_Work_Segment",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Timesheets_Data",
						"type": "DatasetReference",
						"parameters": {
							"Filename": "Work_Segment_File.csv"
						}
					}
				]
			},
			{
				"name": "Work_Segment_Fail",
				"description": "Work segment Segment type data has failed to import into ODW Raw",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Timesheets_Work_Segment",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [
					{
						"name": "Michael Cross",
						"value": "michael.cross@plannninginspectorate.gov.uk"
					}
				],
				"typeProperties": {
					"message": "Timesheets work segment data has failed to import into ODW Raw",
					"errorCode": "Timesheets_Work_Segment1"
				}
			},
			{
				"name": "Timesheets_Work_Segment_Lock",
				"description": "Import of timesheets.work_segment_lock data into ODW Raw layer",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Timesheets_Work_Segment",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "timesheets.work_segment_lock"
					},
					{
						"name": "Destination",
						"value": "odw-raw/@{concat('Timesheets', '/', formatDateTime(utcnow(), 'yyyy-MM-dd'))}/@{'<FileName>'}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadCommitted",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "id",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "employee_id",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "employee_id",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "first_date_of_week",
									"type": "DateTime",
									"physicalType": "date"
								},
								"sink": {
									"name": "first_date_of_week",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "created_at",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Timesheets_Work_Segment_Lock",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Timesheets_Data",
						"type": "DatasetReference",
						"parameters": {
							"Filename": "Work_Segment_Lock.csv"
						}
					}
				]
			},
			{
				"name": "Work_Segment_Lock_Fail",
				"description": "Work segment Segment Lock data has failed to import into ODW Raw",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Timesheets_Work_Segment_Lock",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [
					{
						"name": "Michael Cross",
						"value": "michael.cross@plannninginspectorate.gov.uk"
					}
				],
				"typeProperties": {
					"message": "Timesheets work segment lock data has failed to import into ODW Raw",
					"errorCode": "Timesheets_Work_Segment_Lock1"
				}
			},
			{
				"name": "Logging Failed Activities-1",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Timesheets_Calendar_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Timesheets_Calendar_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-2",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Timesheets_Employee_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Timesheets_Employee_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-3",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Segment_Type_Reference_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Segment_Type_Reference_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-4",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Work_Segment_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Work_Segment_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Logging Failed Activities-5",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Work_Segment_Lock_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Work_Segment_Lock_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			}
		],
		"folder": {
			"name": "timesheet/0_Raw_Timesheet_Data"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-19T13:05:55Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}