workspace/pipeline/4_scheduling_harmonised_to_curated.json
{
	"name": "4_scheduling_harmonised_to_curated",
	"properties": {
		"activities": [
			{
				"name": "employee_harmonised_to_curated",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "employee",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "employee_harmonised_to_curated failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "employee_harmonised_to_curated",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "employee_harmonised_to_curated failed",
					"errorCode": "employee_harmonised_to_curated failed"
				}
			},
			{
				"name": "py_fail_activity_logging",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "employee_harmonised_to_curated failed",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('employee_harmonised_to_curated failed').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true
				}
			}
		],
		"folder": {
			"name": "4_scheduling_harmonised_to_curated"
		},
		"annotations": []
	}
}