workspace/pipeline/ims-auth.json
{
	"name": "ims-auth",
	"properties": {
		"activities": [
			{
				"name": "ims-get-token",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://pinsims.crmplace.com/Api/access_token",
					"connectVia": {
						"referenceName": "PinsIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/vnd.api+json",
						"Accept": "application/vnd.api+json"
					},
					"body": {
						"grant_type": "password",
						"client_id": "122386c2-1710-c290-438a-60dafef04729",
						"client_secret": "6df99f18-d0de-4853-8226-65d27d674ba2",
						"username": "MiPINS",
						"password": "goldfish-SAPPY-serene"
					},
					"linkedServices": [
						{
							"referenceName": "ls_kv",
							"type": "LinkedServiceReference"
						}
					]
				}
			},
			{
				"name": "ims-get-token_test",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://pinsims.crmplace.com/Api/access_token",
					"connectVia": {
						"referenceName": "PinsIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/vnd.api+json",
						"Accept": "application/vnd.api+json"
					},
					"body": {
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "ls_kv",
								"type": "LinkedServiceReference"
							},
							"secretName": "ims-password"
						},
						"username": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "ls_kv",
								"type": "LinkedServiceReference"
							},
							"secretName": "ims-user"
						},
						"client_secret": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "ls_kv",
								"type": "LinkedServiceReference"
							},
							"secretName": "ims-secret"
						},
						"client_id": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "ls_kv",
								"type": "LinkedServiceReference"
							},
							"secretName": "ims-client-id"
						}
					}
				}
			},
			{
				"name": "get-ims-secret",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://pinskvsynwodwdevuks.vault.azure.net/secrets/ims-secret?api-version=7.0",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "set-ims-secret",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get-ims-secret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "client_secret",
					"value": "@activity('get-ims-secret').output.value"
				}
			},
			{
				"name": "get-ims-client-id",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://pinskvsynwodwdevuks.vault.azure.net/secrets/ims-client-id?api-version=7.0",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "get-ims-username",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://pinskvsynwodwdevuks.vault.azure.net/secrets/ims-user?api-version=7.0",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "get-ims-password",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://pinskvsynwodwdevuks.vault.azure.net/secrets/ims-password?api-version=7.0",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "set-ims-client-id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get-ims-client-id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "client_id",
					"value": "@activity('get-ims-client-id').output.value"
				}
			},
			{
				"name": "set-ims-username",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get-ims-username",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "username",
					"value": "@activity('get-ims-username').output.value"
				}
			},
			{
				"name": "set-ims-password",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get-ims-password",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "password",
					"value": "@activity('get-ims-password').output.value"
				}
			},
			{
				"name": "ims-get-access-token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "set-ims-secret",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set-ims-client-id",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set-ims-username",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set-ims-password",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://pinsims.crmplace.com/Api/access_token",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/vnd.api+json",
						"Accept": "application/vnd.api+json"
					},
					"body": {
						"value": "@concat(\n'''grant_type''',':','''password''',',',\n'''client_id''',':', string(variables('client_id')),',',\n'''client_secret''',':', string(variables('client_secret')),',',\n'''username''',':', string(variables('username')),',',\n'''password''',':', string(variables('password'))\n)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"client_secret": {
				"type": "String"
			},
			"client_id": {
				"type": "String"
			},
			"username": {
				"type": "String"
			},
			"password": {
				"type": "String"
			}
		},
		"folder": {
			"name": "0_Raw_IMS_Data_Copy"
		},
		"annotations": []
	}
}