workspace/pipeline/MasterPackage_Logging.json
{
	"name": "MasterPackage_Logging",
	"properties": {
		"activities": [
			{
				"name": "Run_ServiceUser_Logging",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Log_Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "0_Horizon_Service_User_WithLogging",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Log_Start",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set_StartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[logging].[INSERT_LOGS]",
						"storedProcedureParameters": {
							"Deletes": {
								"type": "Int32",
								"value": null
							},
							"DurationSeconds": {
								"type": "Int32",
								"value": null
							},
							"EndTime": {
								"type": "DateTime",
								"value": null
							},
							"EndTime1": {
								"type": "String",
								"value": null
							},
							"ErrorMessage": {
								"type": "String",
								"value": null
							},
							"Inserts": {
								"type": "Int32",
								"value": null
							},
							"PipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"PipelineRunID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"PipelineTriggeredbyPipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline()?.TriggeredByPipelineName",
									"type": "Expression"
								}
							},
							"PipelineTriggeredbyPipelineRunId": {
								"type": "String",
								"value": {
									"value": "@pipeline()?.TriggeredByPipelineRunId",
									"type": "Expression"
								}
							},
							"PipelineTriggerID": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerId",
									"type": "Expression"
								}
							},
							"PipelineTriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerName",
									"type": "Expression"
								}
							},
							"pipelineTriggerType": {
								"type": "String",
								"value": {
									"value": "@pipeline().TriggerType",
									"type": "Expression"
								}
							},
							"StartTime": {
								"type": "DateTime",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							},
							"StartTime1": {
								"type": "String",
								"value": {
									"value": "@{formatDateTime(variables('StartTime'),'yyyy-MM-dd HH:mm:ss')}",
									"type": "Expression"
								}
							},
							"StatusMessage": {
								"type": "String",
								"value": null
							},
							"Updates": {
								"type": "Int32",
								"value": null
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Azure_Sql_LogTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Success_Logs",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Run_ServiceUser_Logging",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set_EndTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[logging].[UPDATE_LOGS]",
					"storedProcedureParameters": {
						"Deletes": {
							"value": null,
							"type": "Int32"
						},
						"DurationSeconds": {
							"value": "",
							"type": "Int32"
						},
						"EndTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"Inserts": {
							"value": null,
							"type": "Int32"
						},
						"LogId": {
							"value": {
								"value": "@activity('Log_Start').output.firstRow.LogId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"StatusMessage": {
							"value": {
								"value": "\"Succeeded\"",
								"type": "Expression"
							},
							"type": "String"
						},
						"Updates": {
							"value": null,
							"type": "Int32"
						},
						"StartTime1": {
							"value": {
								"value": "@variables('StartTime')",
								"type": "Expression"
							},
							"type": "String"
						},
						"EndTime1": {
							"value": {
								"value": "@variables('EndTime')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSQL_LogDB_Dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Failed_Logs",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Run_ServiceUser_Logging",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[logging].[UPDATE_LOGS]",
					"storedProcedureParameters": {
						"Deletes": {
							"value": null,
							"type": "Int32"
						},
						"DurationSeconds": {
							"value": null,
							"type": "Int32"
						},
						"EndTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"EndTime1": {
							"value": {
								"value": "@variables('EndTime')",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"Inserts": {
							"value": null,
							"type": "Int32"
						},
						"LogId": {
							"value": {
								"value": "@activity('Log_Start').output.firstRow.LogId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"StatusMessage": {
							"type": "String"
						},
						"Updates": {
							"value": null,
							"type": "Int32"
						},
						"StartTime1": {
							"value": {
								"value": "@variables('StartTime')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSQL_LogDB_Dev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set_StartTime",
				"description": "Start Time Variable",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "StartTime",
					"value": {
						"value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_EndTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Run_ServiceUser_Logging",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "EndTime",
					"value": {
						"value": "@formatDateTime(utcnow(),'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"StartTime": {
				"type": "String"
			},
			"EndTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "service user"
		},
		"annotations": []
	}
}