workspace/pipeline/migration_test.json
{
	"name": "migration_test",
	"properties": {
		"activities": [
			{
				"name": "Lookup MiPINS table list",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_odw_mipins_config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup MiPINS table list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup MiPINS table list').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Lake_Database_Query",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "lake database query",
									"type": "NotebookReference"
								},
								"parameters": {
									"tablename": {
										"value": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": "pinsodwspark",
									"type": "BigDataPoolReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup MiPINS table list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup MiPINS table list').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "SourceRowCount",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_odw_sql_mipins",
								"type": "LinkedServiceReference",
								"parameters": {
									"db_name": "MiPINS-PRD-ISS"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('select count(*) from ', item().SchemaName, item().TableName)\n\n",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}