workspace/pipeline/overnight_hr_test_run.json
{
	"name": "overnight_hr_test_run",
	"properties": {
		"activities": [
			{
				"name": "Delete All Tables",
				"description": "Delete All Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set HR Tables Array",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('hr_tables')",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "Delete Table",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "py_delete_table",
									"type": "NotebookReference"
								},
								"parameters": {
									"db_name": {
										"value": {
											"value": "@split(item(), '.')[0]",
											"type": "Expression"
										},
										"type": "string"
									},
									"table_name": {
										"value": {
											"value": "@split(item(), '.')[1]",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						}
					]
				}
			},
			{
				"name": "Create Harmonised",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Delete All Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('hr_tables')",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "If is_harmonised",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@startswith(item(), 'odw_harmonised_db')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Create Harmonised Table",
										"type": "SynapseNotebook",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"notebook": {
												"referenceName": "py_odw_harmonised_table_creation",
												"type": "NotebookReference"
											},
											"parameters": {
												"specific_table": {
													"value": {
														"value": "@split(item(), '.')[1]",
														"type": "Expression"
													},
													"type": "string"
												}
											},
											"snapshot": true,
											"conf": {
												"spark.dynamicAllocation.enabled": null,
												"spark.dynamicAllocation.minExecutors": null,
												"spark.dynamicAllocation.maxExecutors": null
											},
											"numExecutors": null
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Set HR Tables Array",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "hr_tables",
					"value": "[\"odw_harmonised_db.hr_absence_dim\",\"odw_harmonised_db.hr_contract_dim\",\"odw_harmonised_db.hr_costcenter_dim\",\"odw_harmonised_db.hr_disability_dim\",\"odw_harmonised_db.hr_diversity_dim\",\"odw_harmonised_db.hr_employee_dim\",\"odw_harmonised_db.hr_employee_fact\",\"odw_harmonised_db.hr_employee_hr_hierarchy_dim\",\"odw_harmonised_db.hr_employee_leavers_dim\",\"odw_harmonised_db.hr_employeegroup_dim\",\"odw_harmonised_db.hr_leave_entitlement_dim\",\"odw_harmonised_db.hr_organisation_unit_dim\",\"odw_harmonised_db.hr_payband_dim\",\"odw_harmonised_db.hr_payroll_area_dim\",\"odw_harmonised_db.hr_personnel_area_dim\",\"odw_harmonised_db.hr_personnel_sub_area_dim\",\"odw_harmonised_db.hr_pins_location_dim\",\"odw_harmonised_db.hr_position_dim\",\"odw_harmonised_db.hr_record_fact\",\"odw_harmonised_db.hr_religion_dim\",\"odw_harmonised_db.hr_secure_info_fact\",\"odw_harmonised_db.hr_specialism_dim\",\"odw_harmonised_db.hr_sxo_dim\",\"odw_harmonised_db.hr_work_schedule_dim\",\"odw_curated_db.employee\"]"
				}
			}
		],
		"variables": {
			"hr_tables": {
				"type": "String"
			}
		},
		"annotations": []
	}
}