workspace/pipeline/Pipeline 3.json
{
	"name": "Pipeline 3",
	"properties": {
		"activities": [
			{
				"name": "Execute Service Bus Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_service_bus",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Record Service Bus failure_copy1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Fail",
						"PipelineName": {
							"value": "@activity('Execute Service Bus Pipeline').Output.pipelineName",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@activity('Execute Service Bus Pipeline').Output.pipelineRunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@activity('Execute Service Bus Pipeline').ExecutionStartTime",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@activity('Execute Service Bus Pipeline').ExecutionEndTime",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@variables('notebook_err')",
							"type": "Expression"
						},
						"StatusMessage": {
							"value": "@concat(activity('Execute Service Bus Pipeline').Status, ' ')",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@activity('Execute Service Bus Pipeline').PipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@activity('Execute Service Bus Pipeline').PipelineRunId",
							"type": "Expression"
						},
						"PipelineExecutionTimeInSec": {
							"value": "@activity('Execute Service Bus Pipeline').Duration",
							"type": "Expression"
						},
						"ActivityType": {
							"value": "@activity('Execute Service Bus Pipeline').ActivityType",
							"type": "Expression"
						},
						"DurationSeconds": {
							"value": "@activity('Execute Service Bus Pipeline').Duration",
							"type": "Expression"
						},
						"AppInsCustomEventName": "ODW_Master_Pipeline_Logs",
						"StatusCode": {
							"value": "@activity('Execute Service Bus Pipeline').StatusCode",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Service Bus Pipeline",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "notebook_err",
					"value": {
						"value": "@activity('Execute Service Bus Pipeline').Error.message",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"errorMsg": {
				"type": "String"
			},
			"feed": {
				"type": "Array"
			},
			"notebook_err": {
				"type": "String"
			}
		},
		"annotations": []
	}
}