workspace/pipeline/Pipeline 1.json
{
	"name": "Pipeline 1",
	"properties": {
		"activities": [
			{
				"name": "Fail1",
				"type": "Fail",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"message": "Failed",
					"errorCode": "failed"
				}
			},
			{
				"name": "Set enabled entities",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get enabled entities",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "entities",
					"value": {
						"value": "@activity('Get enabled entities').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get enabled entities",
				"description": "Get the enabled entities from master pipeline config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM odw_config_db.dbo.main_pipeline_config \nWHERE is_enabled = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_odw_master_config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"test": {
				"type": "String"
			},
			"entities": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}