workspace/pipeline/Pipeline 3.json
{
	"name": "Pipeline 3",
	"properties": {
		"activities": [
			{
				"name": "Pipeline Two",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Pipeline 2",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Pipeline Two",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "errorMsg",
					"value": {
						"value": "@activity('Pipeline Two').Error.message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Pipeline Two",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "errorMsg",
					"value": {
						"value": "@activity('Pipeline Two').Error.errorCode",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1_copy2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Pipeline Two",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "errorMsg",
					"value": {
						"value": "@activity('Pipeline Two').Error.target",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"errorMsg": {
				"type": "String"
			}
		},
		"annotations": []
	}
}