workspace/pipeline/pl_SapHrFilesto_PinsDatalabOdwRaw.json
{
	"name": "pl_SapHrFilesto_PinsDatalabOdwRaw",
	"properties": {
		"activities": [
			{
				"name": "Copy_SapHrFilestoArchives",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureFileStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@concat(pipeline().parameters.FolderPath,'/',pipeline().parameters.FileLoad_Type)",
								"type": "Expression"
							},
							"wildcardFileName": "*.csv",
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Ds_HrSapCopyAFSource",
						"type": "DatasetReference",
						"parameters": {
							"FileLoadType": {
								"value": "@pipeline().parameters.FileLoad_Type",
								"type": "Expression"
							},
							"FolderPath": {
								"value": "@pipeline().parameters.FolderPath",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Ds_SapHrBinary_OdwRawDest",
						"type": "DatasetReference",
						"parameters": {
							"Load_FileType": {
								"value": "@pipeline().parameters.FileLoad_Type",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "DeleteFilesFromAFSOdw",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Copy_SapHrFilestoArchives",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Ds_HrSapCopyAFSource",
						"type": "DatasetReference",
						"parameters": {
							"FileLoadType": {
								"value": "@pipeline().parameters.FileLoad_Type",
								"type": "Expression"
							},
							"FolderPath": {
								"value": "@pipeline().parameters.FolderPath",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureFileStorageReadSettings",
						"recursive": true,
						"wildcardFileName": {
							"value": "*.csv",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "SapHr_Copy_Files_Fail",
				"description": "SapHr copying files failed to into odw_raw/saphr folder",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Copy_SapHrFilestoArchives",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [
					{
						"name": "Michael Cross",
						"value": "michael.cross@plannninginspectorate.gov.uk"
					}
				],
				"typeProperties": {
					"message": "SapHr Files has failed to import into ODW Raw",
					"errorCode": "SAP_HR_Files"
				}
			},
			{
				"name": "Logging Failed Activities-1",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "SapHr_Copy_Files_Fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Timesheets_Calendar_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "SapHr_Deleting_files_fail",
				"description": "SapHr files could be deleted from ODW Azure File Storage",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "DeleteFilesFromAFSOdw",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [
					{
						"name": "Michael Cross",
						"value": "michael.cross@plannninginspectorate.gov.uk"
					}
				],
				"typeProperties": {
					"message": "Timesheets calendar data has failed to import into ODW Raw",
					"errorCode": "Timesheets_Calendar1"
				}
			},
			{
				"name": "Logging Failed Activities-2",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "SapHr_Deleting_files_fail",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('Timesheets_Calendar_Fail').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			}
		],
		"parameters": {
			"FileLoad_Type": {
				"type": "string"
			},
			"FolderPath": {
				"type": "string"
			}
		},
		"folder": {
			"name": "saphr/layers/0-raw"
		},
		"annotations": []
	}
}