workspace/pipeline/pln_wait_testing.json
{
	"name": "pln_wait_testing",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "rankdom_wait",
						"type": "NotebookReference"
					},
					"snapshot": true
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": {
						"value": "@json(activity('Notebook1').output.status.Output.result.exitValue)[0]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Wait1_copy1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": {
						"value": "@json(activity('Notebook1').output.status.Output.result.exitValue)[2]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Wait1_copy2",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": {
						"value": "@json(activity('Notebook1').output.status.Output.result.exitValue)[1]",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}