workspace/pipeline/pln_saphr_odwraw_standardised.json
{
	"name": "pln_saphr_odwraw_standardised",
	"properties": {
		"activities": [
			{
				"name": "GetSapHr_Folder_Path",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_saphr_odwraw_binary",
						"type": "DatasetReference",
						"parameters": {
							"File_Load_Type": {
								"value": "@pipeline().parameters.Pl_Param_File_Load_Type",
								"type": "Expression"
							},
							"Folder_Path": {
								"value": "@pipeline().parameters.Pl_Param_Folder_Path",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"lastModified",
						"childItems",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachFolderName",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSapHr_Folder_Path').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "GetSapHr_Folder_Path",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_saphr_odwraw_binary",
						"type": "DatasetReference",
						"parameters": {
							"File_Load_Type": {
								"value": "@max(activity('GetSapHr_Folder_Path').output.childItems)",
								"type": "Expression"
							},
							"Folder_Path": {
								"value": "@activity('GetSapHr_Folder_Path').output",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			}
		],
		"parameters": {
			"Pl_Param_File_Load_Type": {
				"type": "string"
			},
			"Pl_Param_Folder_Path": {
				"type": "string"
			}
		},
		"folder": {
			"name": "saphr/layers/1-standardised"
		},
		"annotations": []
	}
}