workspace/pipeline/pln_saphr_test.json
{
	"name": "pln_saphr_test",
	"properties": {
		"activities": [
			{
				"name": "EmployeeHier",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_live_dim_employee_hierarchy_Copy",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "EmployeeHier",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "total_records",
					"value": {
						"value": "@json(activity('EmployeeHier').output.status.output.result.exitValue).table_details[0]\n",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"total_records": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "saphr"
		},
		"annotations": []
	}
}