workspace/pipeline/pln_aie_document_data.json
{
	"name": "pln_aie_document_data",
	"properties": {
		"description": "The Raw file for this source is to be manually stored in odw-raw/AIEDocumentData/YYYY-MM-DD/extract_file.csv",
		"activities": [
			{
				"name": "Raw to Std",
				"description": "Ingests raw data into the standardised table ",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Src to Raw",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set_start_time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_raw_to_std",
						"type": "NotebookReference"
					},
					"parameters": {
						"source_folder": {
							"value": "AIEDocumentData",
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Src to Raw",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "AIEData",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Std to Hrm",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "If Raw to Std Faild",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_horizon_harmonised_aie_document",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "record count Std to Hrm",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Std to Hrm",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "recordCount",
					"value": {
						"value": "@activity('Std to Hrm').output.status.output.result.exitValue\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed pln_aie_document_data Std to Hrm",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message Std to Hrm",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completion",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('start time')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"Inserts": {
							"value": "@variables('recordCount')",
							"type": "Expression"
						},
						"StatusMessage": "pln_aie_document_data loaded",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"DurationSeconds": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('starttime'))), 10000000)",
							"type": "Expression"
						},
						"StatusCode": "200",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "pln_aie_document_data Std to Hrm failed",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message Std to Hrm",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_utl_Send_Teams_Message",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"dataFactorySubscription": {
							"value": "@pipeline().parameters.subscription_id",
							"type": "Expression"
						},
						"dataFactoryResourceGroup": {
							"value": "@pipeline().parameters.resource_group",
							"type": "Expression"
						},
						"pipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"teamsWebhookUrl": {
							"value": "@pipeline().parameters.webhook_url",
							"type": "Expression"
						},
						"activityName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"activityMessage": "pln_aie_document_data failed",
						"activityDuration": {
							"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
							"type": "Expression"
						},
						"activityStatus": "Failed",
						"Colour": {
							"value": "@pipeline().parameters.failed_colour",
							"type": "Expression"
						},
						"Image": {
							"value": "@pipeline().parameters.failed_image",
							"type": "Expression"
						},
						"Message_title": "pln_aie_document_data Std to Hrm failed",
						"Message_subtitle": "pln_aie_document_data Std to Hrm failed"
					}
				}
			},
			{
				"name": "error message Std to Hrm",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "record count Std to Hrm",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "error_message",
					"value": {
						"value": "@if(\n  not(empty(activity('Std to Hrm')?['output']?['status']?['output']?['result']?['exitValue'])),\n  json(activity('Std to Hrm').output.status.output.result.exitValue).error_message,\n  'No error message'\n)\n\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Record completed Std to Hrm Std Hrm data",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "error message Std to Hrm",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": {
							"value": "Fail",
							"type": "Expression"
						},
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@variables('start time')",
							"type": "Expression"
						},
						"EndTime": {
							"value": "@utcNow()",
							"type": "Expression"
						},
						"ErrorMessage": {
							"value": "@variables('error_message')",
							"type": "Expression"
						},
						"StatusMessage": "pln_aie_document _data  Std to Hrm Layer loaded",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"DurationSeconds": {
							"value": "@div(sub(ticks(utcNow()), ticks(variables('starttime'))), 10000000)",
							"type": "Expression"
						},
						"StatusCode": "400",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "set_json variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Raw to Std",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "raw_json",
					"value": {
						"value": "@json(activity('Raw to Std').output.status.output.result.exitValue).table_details",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_start_time",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "start time",
					"value": "@utcNow()"
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "set_json variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('raw_json')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Switch_table_status",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().table_result",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "success",
										"activities": [
											{
												"name": "Record completed pln_aie_document_data",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pln_log_to_appins",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"Stage": "Completion",
														"PipelineName": "@pipeline().Pipeline",
														"PipelineRunID": "@pipeline().RunId",
														"StartTime": "@item().start_exec_time",
														"EndTime": "@item().end_exec_time",
														"Inserts": "@item().record_count",
														"StatusMessage": {
															"value": "@concat('pln_aie_document_data loaded for table: ',item().delta_table_name)",
															"type": "Expression"
														},
														"PipelineTriggerID": "@pipeline().TriggerId",
														"PipelineTriggerName": "@pipeline().TriggerName",
														"PipelineTriggerType": "@pipeline().TriggerType",
														"PipelineTriggeredbyPipelineName": "@pipeline()?.TriggeredByPipelineName",
														"PipelineTriggeredbyPipelineRunID": "@pipeline()?.TriggeredByPipelineRunId",
														"DurationSeconds": "@item().total_exec_time",
														"StatusCode": "200",
														"AppInsIKey": "@pipeline().parameters.apps_insights_ikey"
													}
												}
											}
										]
									},
									{
										"value": "failed",
										"activities": [
											{
												"name": "Record failed pln_aie_document_data",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pln_log_to_appins",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"Stage": "Fail",
														"PipelineName": "@pipeline().Pipeline",
														"PipelineRunID": "@pipeline().RunId",
														"StartTime": "@item().start_exec_time",
														"EndTime": "@item().end_exec_time",
														"Inserts": "@item().record_count",
														"ErrorMessage": "@concat(item().error_message,' for loading file : ',item().csv_file_name)",
														"StatusMessage": {
															"value": "@concat('Raw to Std failed:',item().csv_file_name)",
															"type": "Expression"
														},
														"PipelineTriggerID": "@pipeline().TriggerId",
														"PipelineTriggerName": "@pipeline().TriggerName",
														"PipelineTriggerType": "@pipeline().TriggerType",
														"PipelineTriggeredbyPipelineName": "@pipeline()?.TriggeredByPipelineName",
														"PipelineTriggeredbyPipelineRunID": "@pipeline()?.TriggeredByPipelineRunId",
														"ActivityType": "Pipeline",
														"DurationSeconds": "@item().total_exec_time",
														"StatusCode": "400",
														"AppInsIKey": "@pipeline().parameters.apps_insights_ikey"
													}
												}
											},
											{
												"name": "Set Error Flag",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "Record failed pln_aie_document_data",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "error_flag",
													"value": "@item().table_result"
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Dummy",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "If Raw to Std Faild",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ForEachTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(toLower(trim(variables('error_flag'))), 'failed')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Fail plnaiedocumentdata_load",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "Standardised Notebook failed. One of the csv file couldn't be loaded successfully. Please App Insight Log for further details",
									"type": "Expression"
								},
								"errorCode": "99"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"apps_insights_ikey": {
				"type": "string"
			},
			"subscription_id": {
				"type": "string"
			},
			"resource_group": {
				"type": "string"
			},
			"webhook_url": {
				"type": "string"
			},
			"start_time": {
				"type": "string"
			},
			"warning_colour": {
				"type": "string"
			},
			"failed_colour": {
				"type": "string"
			},
			"failed_image": {
				"type": "string"
			}
		},
		"variables": {
			"recordCount": {
				"type": "String"
			},
			"error_message": {
				"type": "String"
			},
			"start time": {
				"type": "String"
			},
			"raw_json": {
				"type": "Array"
			},
			"error_flag": {
				"type": "String"
			},
			"raw_json_update": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "aie-extracts"
		},
		"annotations": []
	}
}