workspace/pipeline/pln_service_bus_appeals_has.json
{
	"name": "pln_service_bus_appeals_has",
	"properties": {
		"description": "Pipeline to ingest nsip-document data from ODT service bus.into ODW.",
		"activities": [
			{
				"name": "Src to Raw",
				"description": "Triggers Function App to read messages from Service Bus and write to odw-raw",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_trigger_function_app",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"function_name": {
							"value": "@variables('entity_name')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "If New Messages",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Src to Raw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Src to Raw').output.pipelineReturnValue.Messages, 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "py_sb_raw_to_std",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "py_sb_raw_to_std",
									"type": "NotebookReference"
								},
								"parameters": {
									"entity_name": {
										"value": {
											"value": "@variables('entity_name')",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						},
						{
							"name": "py_sb_std_to_hrm",
							"type": "SynapseNotebook",
							"dependsOn": [
								{
									"activity": "py_sb_raw_to_std",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "py_sb_std_to_hrm",
									"type": "NotebookReference"
								},
								"parameters": {
									"entity_name": {
										"value": {
											"value": "@variables('entity_name')",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						},
						{
							"name": "curated_appeal_has",
							"type": "SynapseNotebook",
							"dependsOn": [
								{
									"activity": "py_sb_std_to_hrm",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "appeals_has",
									"type": "NotebookReference"
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						}
					]
				}
			}
		],
		"variables": {
			"entity_name": {
				"type": "String",
				"defaultValue": "appeal-has"
			}
		},
		"folder": {
			"name": "appeals-has"
		},
		"annotations": []
	}
}