workspace/pipeline/pln_hr_main_new.json
{
	"name": "pln_hr_main_new",
	"properties": {
		"activities": [
			{
				"name": "LK-File-List",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SharePointOnlineListSource",
						"httpRequestTimeout": "00:05:00"
					},
					"dataset": {
						"referenceName": "ds_SharePointOnline_hr",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Sv-latestModified",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LK-File-List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "latestModified",
					"value": {
						"value": "@activity('LK-File-List').output.firstRow.Modified",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"test": {
				"type": "String"
			},
			"latestModified": {
				"type": "String"
			}
		},
		"folder": {
			"name": "hr/hr_new"
		},
		"annotations": []
	}
}