workspace/pipeline/pln_horizen_to_odw_old.json
{
	"name": "pln_horizen_to_odw",
	"properties": {
		"activities": [
			{
				"name": "Document metadata",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(pipeline().parameters.horizon_feed, 'Document metadata')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Send Document metadata disabled warning",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_utl_Send_Teams_Message",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"dataFactorySubscription": {
										"value": "@pipeline().parameters.subscription_id",
										"type": "Expression"
									},
									"dataFactoryResourceGroup": {
										"value": "@pipeline().parameters.resource_group",
										"type": "Expression"
									},
									"pipelineRunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"teamsWebhookUrl": {
										"value": "@pipeline().parameters.webhook_url",
										"type": "Expression"
									},
									"activityName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"activityMessage": "Loading Horizon data",
									"activityDuration": {
										"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
										"type": "Expression"
									},
									"activityStatus": "On Progress",
									"Colour": {
										"value": "@pipeline().parameters.warning_colour",
										"type": "Expression"
									},
									"Image": {
										"value": "@pipeline().parameters.warning_image",
										"type": "Expression"
									},
									"Message_title": "ODW - Master pipeline warning",
									"Message_subtitle": "Horizon document metadata data load disabled"
								}
							}
						},
						{
							"name": "Record Document metadata warning",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Send Document metadata disabled warning",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "Warning",
									"PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"StartTime": {
										"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
										"type": "Expression"
									},
									"EndTime": {
										"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
										"type": "Expression"
									},
									"ErrorMessage": "Horizon - Document metadata disabled",
									"StatusMessage": "Warning",
									"PipelineTriggerID": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"PipelineTriggerName": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"PipelineTriggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": "@pipeline()?.TriggeredByPipelineName",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": "@pipeline()?.TriggeredByPipelineRunId",
										"type": "Expression"
									},
									"ActivityType": "Pipeline",
									"AppInsIKey": {
										"value": "@pipeline().parameters.apps_insights_ikey",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Horizon Document metadata",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Record loading Document metadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_horizon_document_metadata",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "AIE document metadata",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Record loading Document metadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_aie_document_data",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Send Horizon failed_copy4",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Horizon Document metadata",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_utl_Send_Teams_Message",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"dataFactorySubscription": {
										"value": "@pipeline().parameters.subscription_id",
										"type": "Expression"
									},
									"dataFactoryResourceGroup": {
										"value": "@pipeline().parameters.resource_group",
										"type": "Expression"
									},
									"pipelineRunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"teamsWebhookUrl": {
										"value": "@pipeline().parameters.webhook_url",
										"type": "Expression"
									},
									"activityName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"activityMessage": "Horizon data failed",
									"activityDuration": {
										"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
										"type": "Expression"
									},
									"activityStatus": "Failed",
									"Colour": {
										"value": "@pipeline().parameters.failed_colour",
										"type": "Expression"
									},
									"Image": {
										"value": "@pipeline().parameters.failed_image",
										"type": "Expression"
									},
									"Message_title": "ODW - Horizon data failed",
									"Message_subtitle": "Document metadata feed failed"
								}
							}
						},
						{
							"name": "Send Horizon failed_copy4_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "AIE document metadata",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_utl_Send_Teams_Message",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"dataFactorySubscription": {
										"value": "@pipeline().parameters.subscription_id",
										"type": "Expression"
									},
									"dataFactoryResourceGroup": {
										"value": "@pipeline().parameters.resource_group",
										"type": "Expression"
									},
									"pipelineRunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"teamsWebhookUrl": {
										"value": "@pipeline().parameters.webhook_url",
										"type": "Expression"
									},
									"activityName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"activityMessage": "Horizon data failed",
									"activityDuration": {
										"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
										"type": "Expression"
									},
									"activityStatus": "Failed",
									"Colour": {
										"value": "@pipeline().parameters.failed_colour",
										"type": "Expression"
									},
									"Image": {
										"value": "@pipeline().parameters.failed_image",
										"type": "Expression"
									},
									"Message_title": "ODW - AIE data failed",
									"Message_subtitle": "Document metadata feed failed"
								}
							}
						},
						{
							"name": "Record loading Document metadata",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "OnProgress",
									"PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"StartTime": {
										"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
										"type": "Expression"
									},
									"StatusMessage": "Loading Document metadata",
									"PipelineTriggerID": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"PipelineTriggerName": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"PipelineTriggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": "@pipeline()?.TriggeredByPipelineName",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": "@pipeline()?.TriggeredByPipelineRunId",
										"type": "Expression"
									},
									"ActivityType": "Pipeline",
									"AppInsIKey": {
										"value": "@pipeline().parameters.apps_insights_ikey",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Record completed Document metadata",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Horizon Document metadata",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "AIE document metadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "Completion",
									"PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"StatusMessage": "Loading Document metadata",
									"PipelineTriggerID": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"PipelineTriggerName": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"PipelineTriggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": "@pipeline()?.TriggeredByPipelineName",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": "@pipeline()?.TriggeredByPipelineRunId",
										"type": "Expression"
									},
									"ActivityType": "Pipeline",
									"AppInsIKey": {
										"value": "@pipeline().parameters.apps_insights_ikey",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Appeals event",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(pipeline().parameters.horizon_feed, 'Appeals Events')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Send appeals advice disabled warning",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_utl_Send_Teams_Message",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"dataFactorySubscription": {
										"value": "@pipeline().parameters.subscription_id",
										"type": "Expression"
									},
									"dataFactoryResourceGroup": {
										"value": "@pipeline().parameters.resource_group",
										"type": "Expression"
									},
									"pipelineRunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"teamsWebhookUrl": {
										"value": "@pipeline().parameters.webhook_url",
										"type": "Expression"
									},
									"activityName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"activityMessage": "Loading Horizon data",
									"activityDuration": {
										"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
										"type": "Expression"
									},
									"activityStatus": "On Progress",
									"Colour": {
										"value": "@pipeline().parameters.warning_colour",
										"type": "Expression"
									},
									"Image": {
										"value": "@pipeline().parameters.warning_image",
										"type": "Expression"
									},
									"Message_title": "ODW - Master pipeline warning",
									"Message_subtitle": "Horizon appeals event data load disabled"
								}
							}
						},
						{
							"name": "Record appeals event warning",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Send appeals advice disabled warning",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "Warning",
									"PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"StartTime": {
										"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
										"type": "Expression"
									},
									"EndTime": {
										"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
										"type": "Expression"
									},
									"ErrorMessage": "Horizon -appeals event disabled",
									"StatusMessage": "Warning",
									"PipelineTriggerID": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"PipelineTriggerName": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"PipelineTriggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": "@pipeline()?.TriggeredByPipelineName",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": "@pipeline()?.TriggeredByPipelineRunId",
										"type": "Expression"
									},
									"ActivityType": "Pipeline",
									"AppInsIKey": {
										"value": "@pipeline().parameters.apps_insights_ikey",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Horizon Appeals event",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Record loading appeals event",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_horizon_Appeals_Event",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Send Horizon failed_copy4_copy3_copy1",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Horizon Appeals event",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_utl_Send_Teams_Message",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"dataFactorySubscription": {
										"value": "@pipeline().parameters.subscription_id",
										"type": "Expression"
									},
									"dataFactoryResourceGroup": {
										"value": "@pipeline().parameters.resource_group",
										"type": "Expression"
									},
									"pipelineRunId": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"teamsWebhookUrl": {
										"value": "@pipeline().parameters.webhook_url",
										"type": "Expression"
									},
									"activityName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"activityMessage": "Horizon data failed",
									"activityDuration": {
										"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
										"type": "Expression"
									},
									"activityStatus": "Failed",
									"Colour": {
										"value": "@pipeline().parameters.failed_colour",
										"type": "Expression"
									},
									"Image": {
										"value": "@pipeline().parameters.failed_image",
										"type": "Expression"
									},
									"Message_title": "ODW - Horizon data failed",
									"Message_subtitle": "nsip s51 data feed failed"
								}
							}
						},
						{
							"name": "Record loading appeals event",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "OnProgress",
									"PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"StartTime": {
										"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
										"type": "Expression"
									},
									"StatusMessage": "Loading appeals event",
									"PipelineTriggerID": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"PipelineTriggerName": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"PipelineTriggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": "@pipeline()?.TriggeredByPipelineName",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": "@pipeline()?.TriggeredByPipelineRunId",
										"type": "Expression"
									},
									"ActivityType": "Pipeline",
									"AppInsIKey": {
										"value": "@pipeline().parameters.apps_insights_ikey",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Record completed appeals event",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Horizon Appeals event",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pln_log_to_appins",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Stage": "Completion",
									"PipelineName": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"PipelineRunID": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"StatusMessage": "Loading appeals event",
									"PipelineTriggerID": {
										"value": "@pipeline().TriggerId",
										"type": "Expression"
									},
									"PipelineTriggerName": {
										"value": "@pipeline().TriggerName",
										"type": "Expression"
									},
									"PipelineTriggerType": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineName": {
										"value": "@pipeline()?.TriggeredByPipelineName",
										"type": "Expression"
									},
									"PipelineTriggeredbyPipelineRunID": {
										"value": "@pipeline()?.TriggeredByPipelineRunId",
										"type": "Expression"
									},
									"ActivityType": "Pipeline",
									"AppInsIKey": {
										"value": "@pipeline().parameters.apps_insights_ikey",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Send Horizon failed_copy5",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach_Harmonised_NoteBook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_utl_Send_Teams_Message",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"dataFactorySubscription": {
							"value": "@pipeline().parameters.subscription_id",
							"type": "Expression"
						},
						"dataFactoryResourceGroup": {
							"value": "@pipeline().parameters.resource_group",
							"type": "Expression"
						},
						"pipelineRunId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"teamsWebhookUrl": {
							"value": "@pipeline().parameters.webhook_url",
							"type": "Expression"
						},
						"activityName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"activityMessage": "Horizon data failed",
						"activityDuration": {
							"value": "@concat(string(div(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'H:', \nstring(mod(div(sub(ticks(formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:sss')),ticks(formatDateTime(pipeline().parameters.start_time,'yyyy-MM-dd HH:mm:sss'))),600000000),60)),'M:00s')",
							"type": "Expression"
						},
						"activityStatus": "Failed",
						"Colour": {
							"value": "@pipeline().parameters.failed_colour",
							"type": "Expression"
						},
						"Image": {
							"value": "@pipeline().parameters.failed_image",
							"type": "Expression"
						},
						"Message_title": "ODW - Horizon data failed",
						"Message_subtitle": "Relevant representation feed failed"
					}
				}
			},
			{
				"name": "Record loading relevant reps data_copy1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "OnProgress",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StartTime": {
							"value": "@formatDateTime(utcnow(), 'yyyy-MM-ddTHH:mm:ssZ')",
							"type": "Expression"
						},
						"StatusMessage": "Loading relevant reps",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Record completed relevant reps data_copy1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ForEach_Harmonised_NoteBook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completion",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StatusMessage": "Loading relevant reps",
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Lookup_orchestration_file",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Record loading relevant reps data_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Is_storage_config",
						"type": "DatasetReference",
						"parameters": {
							"folder": "orchestration_horizon",
							"file_name": "orchestration.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_horizen_files",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Filter_Horizon_Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_Horizon_Table').output.value",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "Copy horizen Files",
							"description": "Copies data from Horizon to odw-raw",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"isolationLevel": "ReadCommitted",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_Horizon_Source_table",
									"type": "DatasetReference",
									"parameters": {
										"table_name": {
											"value": "@item().Horizon_Table_Name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_Horizon_odw_raw",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@item().Source_Filename_Format",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Filter_Horizon_Table",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_orchestration_file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_orchestration_file').output.value[0].definitions ",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(contains(item(), 'Horizon_Table_Name'), and(not(empty(item().Horizon_Table_Name)), equals(item().Source_Folder, 'Horizon')))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Horizon Raw to Std",
				"description": "Ingests the raw data into the standardised table",
				"type": "SynapseNotebook",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "ForEach_horizen_files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_horizon_raw_to_std",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "ForEach_Harmonised_NoteBook",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Filter_Harmonised_NoteBook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_Horizon_Table').output.value",
						"type": "Expression"
					},
					"batchCount": 3,
					"activities": [
						{
							"name": "Harmonised_NoteBook",
							"description": "Ingests the raw data into the standardised table",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": {
										"value": "@item().Harmonised_NoteBook",
										"type": "Expression"
									},
									"type": "NotebookReference"
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						}
					]
				}
			},
			{
				"name": "Filter_Harmonised_NoteBook",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Horizon Raw to Std",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_orchestration_file').output.value[0].definitions ",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(contains(item(), 'Harmonised_NoteBook'), and(not(empty(item().Harmonised_NoteBook)), equals(item().Source_Folder, 'Horizon')))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"webhook_url": {
				"type": "string"
			},
			"subscription_id": {
				"type": "string"
			},
			"resource_group": {
				"type": "string"
			},
			"starting_colour": {
				"type": "string"
			},
			"on_progress_colour": {
				"type": "string"
			},
			"failed_colour": {
				"type": "string"
			},
			"start_time": {
				"type": "string"
			},
			"starting_image": {
				"type": "string"
			},
			"progress_image": {
				"type": "string"
			},
			"warning_image": {
				"type": "string"
			},
			"failed_image": {
				"type": "string"
			},
			"warning_colour": {
				"type": "string"
			},
			"horizon_feed": {
				"type": "array"
			},
			"apps_insights_ikey": {
				"type": "string"
			}
		},
		"variables": {
			"execution_logs": {
				"type": "String"
			},
			"temp_var": {
				"type": "String"
			},
			"w": {
				"type": "String"
			},
			"errorMsg": {
				"type": "String"
			},
			"wait1": {
				"type": "Integer",
				"defaultValue": 1
			},
			"wait2": {
				"type": "Integer",
				"defaultValue": 2
			},
			"wait3": {
				"type": "Integer",
				"defaultValue": 3
			},
			"wait4": {
				"type": "Integer",
				"defaultValue": 4
			},
			"wait5": {
				"type": "Integer",
				"defaultValue": 5
			},
			"wait6": {
				"type": "Integer",
				"defaultValue": 6
			},
			"wait7": {
				"type": "Integer",
				"defaultValue": 7
			},
			"wait8": {
				"type": "Integer",
				"defaultValue": 8
			}
		},
		"folder": {
			"name": "utils/Master"
		},
		"annotations": []
	}
}