workspace/pipeline/pln_temp_employee_syn_raw_to_curated.json
{
	"name": "pln_temp_employee_syn_raw_to_curated",
	"properties": {
		"activities": [
			{
				"name": "employee_syn raw to curated",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_temp_syn_employee_to_curated",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "pinsodwspark",
						"type": "BigDataPoolReference"
					}
				}
			},
			{
				"name": "For Each Service Message Batch",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter JSON Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter JSON Files').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Send to Service Bus",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Lookup Service Bus Messages",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://pinsodwservicedev.servicebus.windows.net/pins-odw-service-dev-topic-employee-syn/messages",
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"method": "POST",
								"headers": {
									"Content-Type": "application/vnd.microsoft.servicebus.json"
								},
								"body": {
									"value": "@string(activity('Lookup Service Bus Messages').output.value)",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://servicebus.azure.net"
								}
							}
						},
						{
							"name": "Lookup Service Bus Messages",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "dst_temp_employee_syn_service",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						}
					]
				}
			},
			{
				"name": "Get Service Message Batch",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "employee_syn raw to curated",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dst_temp_employee_syn_service",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "Filter JSON Files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Service Message Batch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Service Message Batch').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'.json')",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "employee_syn"
		},
		"annotations": []
	}
}