workspace/pipeline/pln_unit_test_framework.json
{
  "name": "pln_unit_test_framework",
  "properties": {
    "activities": [
      {
        "name": "Lookup_test_entities",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sqlReaderQuery": "SELECT entity_name FROM odw_config_db.main_pipeline_config WHERE entity_name IS NOT NULL AND is_enabled IS TRUE",
            "queryTimeout": "02:00:00",
            "partitionOption": "None"
          },
          "dataset": {
            "referenceName": "ds_odw_main_config",
            "type": "DatasetReference"
          },
          "firstRowOnly": false
        }
      },
      {
        "name": "ForEach_entity",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "Lookup_test_entities",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "items": {
            "value": "@activity('Lookup_test_entities').output.value",
            "type": "Expression"
          },
          "isSequential": false,
          "batchCount": 5,
          "activities": [
            {
              "name": "RunUnitTestFramework",
              "type": "ExecuteDataFlow",
              "dependsOn": [],
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "dataflow": {
                  "referenceName": "unit_test_framework",
                  "type": "DataFlowReference",
                  "parameters": {
                    "entity_name": {
                      "value": "@item().entity_name",
                      "type": "Expression"
                    }
                  }
                },
                "compute": {
                  "coreCount": 8,
                  "computeType": "General"
                },
                "traceLevel": "Fine"
              }
            },
            {
              "name": "RunParametrizedNotebook",
              "type": "SynapseNotebook",
              "dependsOn": [
                {
                  "activity": "RunUnitTestFramework",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ],
              "policy": {
                "timeout": "7.00:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureOutput": false,
                "secureInput": false
              },
              "userProperties": [],
              "typeProperties": {
                "notebook": {
                  "referenceName": "parametrized_unit_test_runner",
                  "type": "NotebookReference"
                },
                "parameters": {
                  "entity_name": {
                    "value": "@item().entity_name",
                    "type": "Expression"
                  }
                },
                "snapshot": true,
                "sparkPool": {
                  "referenceName": "pinssynspodw34",
                  "type": "BigDataPoolReference"
                },
                "executorSize": "Medium",
                "conf": {
                  "spark.dynamicAllocation.enabled": false,
                  "spark.dynamicAllocation.minExecutors": 2,
                  "spark.dynamicAllocation.maxExecutors": 2
                },
                "driverSize": "Medium",
                "numExecutors": 2
              }
            }
          ]
        }
      }
    ],
    "parameters": {
      "test_categories": {
        "type": "array",
        "defaultValue": [
          "schema_validation",
          "row_count_validation", 
          "data_integrity",
          "no_record_dropping"
        ]
      }
    },
    "folder": {
      "name": "utils/unit-tests"
    },
    "annotations": []
  }
}
