workspace/pipeline/Pln_GetHrSubFlodersList.json
{
	"name": "Pln_GetHrSubFlodersList",
	"properties": {
		"activities": [
			{
				"name": "GetSubFloders",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "GetSubFlodersBinary",
						"type": "DatasetReference",
						"parameters": {
							"par_DsGetFolderName": {
								"value": "@pipeline().parameters.par_GetParentFolderName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachSubFolders",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSubFloders",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSubFloders').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetSubFloderList",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_SubFolderListBinary",
									"type": "DatasetReference"
								},
								"fieldList": [
									{
										"value": "@activity('GetSubFloders').output.childItems",
										"type": "Expression"
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"par_GetParentFolderName": {
				"type": "string"
			}
		},
		"folder": {
			"name": "hr/pln_SAPHR_SharepointData"
		},
		"annotations": []
	}
}