workspace/pipeline/pln_casework_deployment_clean_slate.json
{
	"name": "pln_casework_deployment_clean_slate",
	"properties": {
		"activities": [
			{
				"name": "Delete All Tables",
				"description": "Delete All Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set Tables Array",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('casework_tables')",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "Delete Table",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "py_delete_table",
									"type": "NotebookReference"
								},
								"parameters": {
									"db_name": {
										"value": {
											"value": "@split(item(), '.')[0]",
											"type": "Expression"
										},
										"type": "string"
									},
									"table_name": {
										"value": {
											"value": "@split(item(), '.')[1]",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						}
					]
				}
			},
			{
				"name": "Set Tables Array",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "casework_tables",
					"value": [
						"odw_harmonised_db.casework_additional_fields_dim",
						"odw_harmonised_db.casework_advert_details_dim",
						"odw_harmonised_db.casework_all_appeals_dim",
						"odw_harmonised_db.casework_all_appeals_additional_data_dim",
						"odw_harmonised_db.casework_all_application_sub_type_case_name_dim",
						"odw_harmonised_db.casework_case_dates_dim",
						"odw_harmonised_db.casework_case_fact",
						"odw_harmonised_db.casework_case_info_dim",
						"odw_harmonised_db.casework_case_officer_additional_details_dim",
						"odw_harmonised_db.casework_common_land_dim",
						"odw_harmonised_db.casework_contact_information_dim",
						"odw_harmonised_db.casework_contacts_organisation_dim",
						"odw_harmonised_db.casework_decision_issue_dim",
						"odw_harmonised_db.casework_enforcement_grounds_dim",
						"odw_harmonised_db.casework_event_fact",
						"odw_harmonised_db.casework_event_dim",
						"odw_harmonised_db.casework_high_hedges_dim",
						"odw_harmonised_db.casework_hedgerow_dim",
						"odw_harmonised_db.casework_inspector_cases_dim",
						"odw_harmonised_db.casework_legacy_rights_of_way_dim",
						"odw_harmonised_db.casework_local_planning_authority_dim",
						"odw_harmonised_db.casework_local_planning_authority_fact",
						"odw_harmonised_db.casework_local_plans_dim",
						"odw_harmonised_db.casework_lpa_responsibility_dim",
						"odw_harmonised_db.casework_nsip_advice_dim",
						"odw_harmonised_db.casework_nsip_examination_timetable_dim",
						"odw_harmonised_db.casework_nsip_relevant_representation_dim",
						"odw_harmonised_db.casework_nsip_project_info_internal_dim",
						"odw_harmonised_db.casework_nsip_redactions_dim",
						"odw_harmonised_db.casework_picaso_dim",
						"odw_harmonised_db.casework_specialist_recharge_dim",
						"odw_harmonised_db.casework_specialist_purchase_notice_dim",
						"odw_harmonised_db.casework_specialist_modifications_dim",
						"odw_harmonised_db.casework_special_circumstance_dim",
						"odw_harmonised_db.casework_specialism_dim",
						"odw_harmonised_db.casework_specialist_case_dates_dim",
						"odw_harmonised_db.casework_specialist_case_string_dim",
						"odw_harmonised_db.casework_specialist_coastal_access_dim",
						"odw_harmonised_db.casework_specialist_environment_dim",
						"odw_harmonised_db.casework_specialist_high_court_dim",
						"odw_harmonised_db.casework_tpo_dim"
					]
				}
			},
			{
				"name": "Create Harmonised",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Delete All Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('casework_tables')",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "If is_harmonised",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@startswith(item(), 'odw_harmonised_db')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Create Harmonised Table",
										"type": "SynapseNotebook",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"notebook": {
												"referenceName": "py_odw_harmonised_table_creation",
												"type": "NotebookReference"
											},
											"parameters": {
												"specific_table": {
													"value": {
														"value": "@split(item(), '.')[1]",
														"type": "Expression"
													},
													"type": "string"
												}
											},
											"snapshot": true,
											"conf": {
												"spark.dynamicAllocation.enabled": null,
												"spark.dynamicAllocation.minExecutors": null,
												"spark.dynamicAllocation.maxExecutors": null
											},
											"numExecutors": null
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "pln_casework_main",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Create Harmonised",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_casework_main",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"variables": {
			"casework_tables": {
				"type": "Array"
			}
		},
		"folder": {
			"name": ""
		},
		"annotations": []
	}
}