workspace/pipeline/pln_saphr_main.json
{
	"name": "pln_saphr_main",
	"properties": {
		"activities": [
			{
				"name": "Get_SapHr_Monthly_Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Ds_odw_saphr_get_latest_files",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If_SapHr_Monthly_Files_Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get_SapHr_Monthly_Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get_SapHr_Monthly_Files').output.exists,true)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"variables": {
			"Get_File_Count": {
				"type": "String"
			}
		},
		"folder": {
			"name": "saphr"
		},
		"annotations": []
	}
}