workspace/pipeline/pln_horizon_nsip_representation_main.json
{
	"name": "pln_horizon_nsip_representation_main",
	"properties": {
		"activities": [
			{
				"name": "Raw to Std",
				"description": "Ingests the raw data into the standardised table",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Src to Raw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.01:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_raw_to_std",
						"type": "NotebookReference"
					},
					"parameters": {
						"source_folder": {
							"value": "Horizon",
							"type": "string"
						},
						"specific_file": {
							"value": "NSIPReleventRepresentation",
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Src to Raw",
				"description": "Copies data from Horizon to odw-raw",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "0_Raw_Horizon_NSIP_Relevant_Reps",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Inserts",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Raw to Std",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Inserts",
					"value": {
						"value": "@activity('Raw to Std').output.status.Output.result.exitValue",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Inserts": {
				"type": "Integer"
			},
			"Insert": {
				"type": "String"
			}
		},
		"folder": {
			"name": "nsip-representation"
		},
		"annotations": []
	}
}