workspace/pipeline/pln_saphrODW.json
{
	"name": "pln_saphrODW",
	"properties": {
		"activities": [
			{
				"name": "CopySharePointFilesAdls",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetSharePointWebToken",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"additionalHeaders": {
								"value": "@{concat('Authorisation:Bearer ',activity('GetSharePointWebToken').output.access_token)}",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DsSharePointBinary",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AdlsBinarySink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetSharePointWebToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"url": "https://accounts.accesscontrol.windows.net/5878df98-6f88-48ab-9322-998ce557088d/tokens/OAuth/2",
					"connectVia": {
						"referenceName": "PinsIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"body": ""
				}
			}
		],
		"folder": {
			"name": "hr/pln_SAPHR_SharepointData"
		},
		"annotations": []
	}
}