workspace/pipeline/pln_delta_backup_odw.json
{
	"name": "pln_delta_backup_odw",
	"properties": {
		"activities": [
			{
				"name": "non_delta_directories",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "delta_back_odw",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "ForEach_deltaFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "non_delta_directories",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@json(replace(replace(activity('non_delta_directories').output.status.Output.result.exitValue, '''', '\"'), '\\\"[', '['))\n\n",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "file_name_variable",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "file_name",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"file_path_array": {
				"type": "Array"
			},
			"file_name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}