workspace/pipeline/pln_migration_test.json
{
	"name": "pln_migration_test",
	"properties": {
		"activities": [
			{
				"name": "Lookup MiPINS table list",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_odw_mipins_config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Source and Lake Row Count",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup MiPINS table list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup MiPINS table list').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "SourceRowCount",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_odw_sql_mipins",
								"type": "LinkedServiceReference",
								"parameters": {
									"db_name": "MiPINS-PRD-ISS"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('select count(*)as row_count from ', item().SchemaName, '.', item().TableName)\n\n",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "Lake_Database_Query",
							"type": "SynapseNotebook",
							"dependsOn": [
								{
									"activity": "SourceRowCount",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "lake database query",
									"type": "NotebookReference"
								},
								"parameters": {
									"sourcerowcount": {
										"value": {
											"value": "@activity('SourceRowCount').output.resultSets[0].rows[0].row_count",
											"type": "Expression"
										},
										"type": "int"
									},
									"tablename": {
										"value": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"sparkPool": {
									"referenceName": "pinssynspodw34",
									"type": "BigDataPoolReference"
								},
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "archive/legacy"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-19T12:59:00Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}