workspace/pipeline/pln_hr_run.json
{
	"name": "pln_hr_run",
	"properties": {
		"description": "This pipeline has been created to run HR data from standardised to the ESB after the warehouse has been first created.",
		"activities": [
			{
				"name": "sap-hr-views",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "py_1_initial_run_raw_to_standardised_scheduling",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "sap-hr-views",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "sap-hr-master",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "sap-hr-views",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "sap-hr-master",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "sap-hr-views failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "sap-hr-views",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "sap-hr-views failed",
					"errorCode": "sap-hr-views failed"
				}
			},
			{
				"name": "py_fail_activity_logging",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "sap-hr-views failed",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('sap-hr-views failed').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "sap-hr-master failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "sap-hr-master",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "sap-hr-master failed",
					"errorCode": "sap-hr-master failed"
				}
			},
			{
				"name": "py_fail_activity_logging1",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "sap-hr-master failed",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_fail_activity_logging",
						"type": "NotebookReference"
					},
					"parameters": {
						"output": {
							"value": {
								"value": "@activity('sap-hr-master failed').output.message",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "4_scheduling_harmonised_to_curated",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "sap-hr-master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "4_scheduling_harmonised_to_curated",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "5_scheduling_curated_to_esb",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "4_scheduling_harmonised_to_curated",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "5_scheduling_curated_to_esb",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "outstanding_files_add_entry",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "py_delete_outstanding_files_entry",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "outstanding_files_add_entry",
						"type": "NotebookReference"
					},
					"parameters": {
						"jsonId": {
							"value": "83",
							"type": "int"
						},
						"year": {
							"value": "2023",
							"type": "int"
						},
						"month": {
							"value": "4",
							"type": "int"
						},
						"day": {
							"value": "1",
							"type": "int"
						},
						"hour": {
							"value": "0",
							"type": "int"
						},
						"minute": {
							"value": "0",
							"type": "int"
						},
						"second": {
							"value": "0",
							"type": "int"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "py_1_initial_run_raw_to_standardised_scheduling",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "outstanding_files_add_entry",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_1_initial_run_raw_to_standardised_scheduling",
						"type": "NotebookReference"
					},
					"parameters": {
						"source_id": {
							"value": "83",
							"type": "int"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "0_pln_source_to_raw_fileshare",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "0_pln_source_to_raw_fileshare",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "py_delete_outstanding_files_entry",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "0_pln_source_to_raw_fileshare",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_delete_outstanding_files_entry",
						"type": "NotebookReference"
					},
					"parameters": {
						"year": {
							"value": "2023"
						},
						"month": {
							"value": "3"
						},
						"day": {
							"value": "1"
						},
						"jsonId": {
							"value": "83"
						}
					},
					"snapshot": true
				}
			}
		],
		"folder": {
			"name": "post-deployment/19-04-2023"
		},
		"annotations": []
	}
}