workspace/pipeline/pln_GetHrParentFolders.json
{
	"name": "GetHrParentFolders",
	"properties": {
		"activities": [
			{
				"name": "GetHrParentFolders",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Ds_SapHrGetFoldersList",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachTopFolders",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetHrParentFolders",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetHrParentFolders').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"parameters": {
			"FileLoadType": {
				"type": "string"
			}
		},
		"folder": {
			"name": "hr/pln_SAPHR_SharepointData"
		},
		"annotations": []
	}
}