workspace/pipeline/pln_post_deployment_copy1.json
{
	"name": "pln_post_deployment_copy1",
	"properties": {
		"activities": [
			{
				"name": "Delete Leavers",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_delete_table",
						"type": "NotebookReference"
					},
					"parameters": {
						"db_name": {
							"value": "odw_harmonised_db",
							"type": "string"
						},
						"table_name": {
							"value": "hr_employee_leavers_dim",
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Create Leavers Harmonised",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Delete Leavers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_odw_harmonised_table_creation",
						"type": "NotebookReference"
					},
					"parameters": {
						"specific_table": {
							"value": "hr_employee_leavers_dim",
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "abc",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Create Leavers Harmonised",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.arr",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "sap-hr-views-leavers",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "sap-hr-views-leavers",
									"type": "NotebookReference"
								},
								"parameters": {
									"expected_from": {
										"value": {
											"value": "@item()",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						},
						{
							"name": "hr_employee_leavers_dim",
							"type": "SynapseNotebook",
							"dependsOn": [
								{
									"activity": "sap-hr-views-leavers",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "hr_employee_leavers_dim",
									"type": "NotebookReference"
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						}
					]
				}
			}
		],
		"parameters": {
			"arr": {
				"type": "array",
				"defaultValue": [
					"2020-08-01T00:00:00.000000",
					"2020-09-01T00:00:00.000000",
					"2020-10-01T00:00:00.000000",
					"2020-11-01T00:00:00.000000",
					"2020-12-01T00:00:00.000000",
					"2021-01-01T00:00:00.000000",
					"2021-02-01T00:00:00.000000",
					"2021-03-01T00:00:00.000000",
					"2021-04-01T00:00:00.000000",
					"2021-05-01T00:00:00.000000",
					"2021-06-01T00:00:00.000000",
					"2021-07-01T00:00:00.000000",
					"2021-08-01T00:00:00.000000",
					"2021-09-01T00:00:00.000000",
					"2021-10-01T00:00:00.000000",
					"2021-11-01T00:00:00.000000",
					"2021-12-01T00:00:00.000000",
					"2022-01-01T00:00:00.000000",
					"2022-02-01T00:00:00.000000",
					"2022-03-01T00:00:00.000000",
					"2022-04-01T00:00:00.000000",
					"2022-05-01T00:00:00.000000",
					"2022-06-01T00:00:00.000000",
					"2022-07-01T00:00:00.000000",
					"2022-08-01T00:00:00.000000",
					"2022-09-01T00:00:00.000000",
					"2022-10-01T00:00:00.000000",
					"2022-11-01T00:00:00.000000",
					"2022-12-01T00:00:00.000000",
					"2023-01-01T00:00:00.000000",
					"2023-02-01T00:00:00.000000",
					"2023-03-01T00:00:00.000000",
					"2023-04-01T00:00:00.000000",
					"2023-05-01T00:00:00.000000",
					"2023-06-01T00:00:00.000000",
					"2023-07-01T00:00:00.000000",
					"2023-08-01T00:00:00.000000",
					"2023-09-01T00:00:00.000000"
				]
			}
		},
		"folder": {
			"name": "post_deployment"
		},
		"annotations": []
	}
}