workspace/pipeline/Pln_GetHrSubFlodersList.json
{
	"name": "Pln_GetHrSubFlodersList",
	"properties": {
		"activities": [
			{
				"name": "GetSubFloders",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "GetSubFlodersBinary",
						"type": "DatasetReference",
						"parameters": {
							"par_DsGetFolderName": {
								"value": "@pipeline().parameters.par_GetParentFolderName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEachSubFolders",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSubFloders",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSubFloders').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopySubFoldersFiles",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@pipeline().parameters.par_GetParentFolderName",
											"type": "Expression"
										},
										"wildcardFileName": "*",
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Ds_HrSapSourceBinary",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Ds_HrSapBinaryDest",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"par_GetParentFolderName": {
				"type": "string"
			}
		},
		"folder": {
			"name": "SapHR/pln_SAPHR_SharepointData"
		},
		"annotations": []
	}
}