workspace/pipeline/pln_hr_ingestion_harmonised_and_curated_only.json
{
	"name": "pln_hr_ingestion_clean_slate_copy1",
	"properties": {
		"activities": [
			{
				"name": "Clear All Tables",
				"description": "Clear All Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set HR Tables Array",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('hr_tables')",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "Clear Table",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "py_delete_table_contents",
									"type": "NotebookReference"
								},
								"parameters": {
									"db_name": {
										"value": {
											"value": "@split(item(), '.')[0]",
											"type": "Expression"
										},
										"type": "string"
									},
									"table_name": {
										"value": {
											"value": "@split(item(), '.')[1]",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						}
					]
				}
			},
			{
				"name": "Set HR Tables Array",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "hr_tables",
					"value": [
						"odw_harmonised_db.hr_absence_dim",
						"odw_harmonised_db.hr_diversity_dim",
						"odw_harmonised_db.hr_employee_dim",
						"odw_harmonised_db.hr_employee_fact",
						"odw_harmonised_db.hr_employee_hr_hierarchy_dim",
						"odw_harmonised_db.hr_employee_leavers_dim",
						"odw_harmonised_db.hr_employeegroup_dim",
						"odw_harmonised_db.hr_leave_entitlement_dim",
						"odw_harmonised_db.hr_organisation_unit_dim",
						"odw_harmonised_db.hr_payband_dim",
						"odw_harmonised_db.hr_payroll_area_dim",
						"odw_harmonised_db.hr_personnel_area_dim",
						"odw_harmonised_db.hr_personnel_sub_area_dim",
						"odw_harmonised_db.hr_pins_location_dim",
						"odw_harmonised_db.hr_position_dim",
						"odw_harmonised_db.hr_record_fact",
						"odw_harmonised_db.hr_religion_dim",
						"odw_harmonised_db.hr_secure_info_fact",
						"odw_harmonised_db.hr_specialism_dim",
						"odw_harmonised_db.hr_sxo_dim",
						"odw_harmonised_db.hr_work_schedule_dim",
						"odw_curated_db.employee",
						"odw_curated_db.mipins_hr_measures"
					]
				}
			},
			{
				"name": "py_harmonised_and_curated_monthly",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Clear All Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_harmonised_and_curated_monthly",
						"type": "NotebookReference"
					},
					"parameters": {
						"start_month": {
							"value": "8",
							"type": "int"
						},
						"start_year": {
							"value": "2017",
							"type": "int"
						},
						"end_month": {
							"value": "06",
							"type": "int"
						},
						"end_year": {
							"value": "2023",
							"type": "int"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			}
		],
		"variables": {
			"hr_views": {
				"type": "Array"
			},
			"hr_tables": {
				"type": "Array"
			},
			"test": {
				"type": "String"
			}
		},
		"folder": {
			"name": "post-deployment/06-07-2023"
		},
		"annotations": []
	}
}