workspace/pipeline/pln_service_bus_service_user.json
{
	"name": "pln_service_bus_service_user",
	"properties": {
		"activities": [
			{
				"name": "Src to Raw",
				"description": "Triggers Function App to read messages from Service Bus and write to odw-raw",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_trigger_function_app",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"function_name": {
							"value": "@variables('entity_name')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "If New Messages",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Src to Raw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Src to Raw').output.pipelineReturnValue.Messages, 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Raw to Std",
							"description": "Ingests raw data into the standardised table ",
							"type": "SynapseNotebook",
							"dependsOn": [
								{
									"activity": "JSON to CSV",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "py_raw_to_std",
									"type": "NotebookReference"
								},
								"parameters": {
									"source_folder": {
										"value": "ServiceBus",
										"type": "string"
									},
									"source_frequency_folder": {
										"value": {
											"value": "@variables('entity_name')",
											"type": "Expression"
										},
										"type": "string"
									},
									"specific_file": {
										"value": {
											"value": "@variables('entity_name')",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						},
						{
							"name": "JSON to CSV",
							"description": "Converts the messages stored in json format to csv format",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "py_service_bus_json_to_csv",
									"type": "NotebookReference"
								},
								"parameters": {
									"source_folder": {
										"value": "ServiceBus",
										"type": "string"
									},
									"source_frequency_folder": {
										"value": {
											"value": "@variables('entity_name')",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						},
						{
							"name": "py_std_to_hrm",
							"type": "SynapseNotebook",
							"dependsOn": [
								{
									"activity": "Raw to Std",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "py_std_to_hrm",
									"type": "NotebookReference"
								},
								"parameters": {
									"entity_name": {
										"value": {
											"value": "@variables('entity_name')",
											"type": "Expression"
										},
										"type": "string"
									}
								},
								"snapshot": true,
								"conf": {
									"spark.dynamicAllocation.enabled": null,
									"spark.dynamicAllocation.minExecutors": null,
									"spark.dynamicAllocation.maxExecutors": null
								},
								"numExecutors": null
							}
						}
					]
				}
			}
		],
		"variables": {
			"entity_name": {
				"type": "String",
				"defaultValue": "service-user"
			}
		},
		"folder": {
			"name": "service user"
		},
		"annotations": []
	}
}