workspace/pipeline/pln_retrieve_data_validation_test_results.json
{
	"name": "pln_retrieve_data_validation_test_results",
	"properties": {
		"description": "Retrieve E2E data validation test results and convert to NUnit XML format for Azure DevOps reporting",
		"activities": [
			{
				"name": "Create NUnit XML File",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": false,
							"fileExtension": ".xml",
							"columnDelimiter": "\t"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "XmlOutput"
								},
								"sink": {
									"type": "String",
									"ordinal": 1
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_e2e_test_results",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_test_results_xml_output",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@concat('TestResults-', formatDateTime(utcnow(), 'yyyy-MM-dd-HHmmss'), '.xml')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set Output Variables",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Create NUnit XML File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "xml_file_path",
					"value": {
						"value": "@concat('TestResults-', formatDateTime(utcnow(), 'yyyy-MM-dd-HHmmss'), '.xml')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Log Results to AppInsights",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set Output Variables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pln_log_to_appins",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Stage": "Completed",
						"PipelineName": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"PipelineRunID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"StatusMessage": {
							"value": "@concat('Test results generated successfully. XML file: ', variables('xml_file_path'))",
							"type": "Expression"
						},
						"PipelineTriggerID": {
							"value": "@pipeline().TriggerId",
							"type": "Expression"
						},
						"PipelineTriggerName": {
							"value": "@pipeline().TriggerName",
							"type": "Expression"
						},
						"PipelineTriggerType": {
							"value": "@pipeline().TriggerType",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineName": {
							"value": "@pipeline()?.TriggeredByPipelineName",
							"type": "Expression"
						},
						"PipelineTriggeredbyPipelineRunID": {
							"value": "@pipeline()?.TriggeredByPipelineRunId",
							"type": "Expression"
						},
						"ActivityType": "Pipeline",
						"AppInsIKey": {
							"value": "@pipeline().parameters.apps_insights_ikey",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"hours_back": {
				"type": "int",
				"defaultValue": 2
			},
			"workspace_name": {
				"type": "string",
				"defaultValue": "pins-synw-odw"
			},
			"apps_insights_ikey": {
				"type": "string"
			},
			"output_container": {
				"type": "string",
				"defaultValue": "test-results"
			}
		},
		"variables": {
			"xml_file_path": {
				"type": "String"
			},
			"test_count": {
				"type": "String"
			},
			"failure_count": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Testing"
		},
		"annotations": [
			"data-validation",
			"testing",
			"nunit",
			"azure-devops"
		]
	}
}