workspace/pipeline/pln_saphr_odwraw_standardised.json
{
	"name": "pln_saphr_odwraw_standardised",
	"properties": {
		"activities": [
			{
				"name": "GetSapHr_Folder_Path",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_saphr_odwraw_binary",
						"type": "DatasetReference",
						"parameters": {
							"File_Load_Type": {
								"value": "@pipeline().parameters.Pl_Param_File_Load_Type",
								"type": "Expression"
							},
							"Folder_Path": {
								"value": "@pipeline().parameters.Pl_Param_Folder_Path",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSapHr_Folder_Path",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSapHr_Folder_Path').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "GetSubFolderModifiedDate",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_getSapHrBinarySubfolder",
									"type": "DatasetReference",
									"parameters": {
										"Get_SubFolders_Name": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"itemName",
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Pl_Param_File_Load_Type": {
				"type": "string"
			},
			"Pl_Param_Folder_Path": {
				"type": "string"
			}
		},
		"variables": {
			"pl_var_last_modified_date": {
				"type": "String"
			},
			"pl_var_recent_modified_date": {
				"type": "String"
			}
		},
		"folder": {
			"name": "saphr/layers/1-standardised"
		},
		"annotations": []
	}
}