workspace/pipeline/pln_delta_backup_odw.json
{
	"name": "pln_delta_backup_odw",
	"properties": {
		"activities": [
			{
				"name": "delta_directories",
				"description": "synapse-st-dfs--pinsstodwdevukwdvzrjm",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Set subscription",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set resource group",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "delta_back_odw",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "ForEach_NondeltaFiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "delta_directories",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@json(activity('delta_directories').output.status.Output.result.exitValue).non_delta_file_list\n",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "dynamic_copy_data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_dynamic_delta_backup",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@split(split(item(), '://')[1], '@')[0]",
											"type": "Expression"
										},
										"table_name": {
											"value": "@last(split(item(), '/'))",
											"type": "Expression"
										},
										"storage_account_name": {
											"value": "@split(split(split(item(), '://')[1], '@')[1], '.')[0]",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_delta_backup",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@split(split(item(), '://')[1], '@')[0]",
											"type": "Expression"
										},
										"table_name": {
											"value": "@last(split(item(), '/'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "dynamic_copy_data_copy2",
							"type": "Copy",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_dynamic_delta_backup",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@split(split(item(), '://')[1], '@')[0]",
											"type": "Expression"
										},
										"table_name": {
											"value": "@last(split(item(), '/'))",
											"type": "Expression"
										},
										"storage_account_name": {
											"value": "@split(split(split(item(), '://')[1], '@')[1], '.')[0]",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_dynamic_delta_backup",
									"type": "DatasetReference",
									"parameters": {
										"container_name": "@split(split(item(), '://')[1], '@')[0]",
										"table_name": "@last(split(item(), '/'))",
										"storage_account_name": {
											"value": "@json(activity('delta_directories').output.status.Output.result.exitValue).backup_storage_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Set key vault URL",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Key_Vault_Url",
					"value": {
						"value": "@if(equals(pipeline().DataFactory, 'pins-synw-odw-dev-uks'), 'https://pinskvsynwodwdevuks.vault.azure.net/secrets/', if(equals(pipeline().DataFactory, 'pins-synw-odw-test-uks'), 'https://pinskvsynwodwtestuks.vault.azure.net/secrets/', 'https://pinskvsynwodwproduks.vault.azure.net/secrets/'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get resource group",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set key vault URL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat(variables('Key_Vault_Url'), 'DBResourceGroup',variables('Key_Vault_API'))",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set subscription",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get subscription",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "resource_group",
					"value": {
						"value": "@activity('Get subscription').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get subscription",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set key vault URL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat(variables('Key_Vault_Url'), 'SubscriptionId',variables('Key_Vault_API'))",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set resource group",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get resource group",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "subscription_id",
					"value": {
						"value": "@activity('Get resource group').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_deltaFile_copy1",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@json(replace(replace(activity('non_delta_directories').output.status.Output.result.exitValue, '''', '\"'), '\\\"[', '['))\n\n",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "file_name_variable_copy1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "file_name",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "container_name_copy1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "container_name",
								"value": {
									"value": "@split(split(item(), '://')[1], '@')[0]",
									"type": "Expression"
								}
							}
						},
						{
							"name": "storage_account_copy1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "storage_account_name",
								"value": {
									"value": "@split(split(split(item(), '://')[1], '@')[1], '.')[0]\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "table_name_copy1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "table_name",
								"value": {
									"value": "@last(split(item(), '/'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "dynamic_copy_data_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_dynamic_delta_backup",
									"type": "DatasetReference",
									"parameters": {
										"container_name": {
											"value": "@split(split(item(), '://')[1], '@')[0]",
											"type": "Expression"
										},
										"table_name": {
											"value": "@last(split(item(), '/'))",
											"type": "Expression"
										},
										"storage_account_name": {
											"value": "@split(split(split(item(), '://')[1], '@')[1], '.')[0]",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_dynamic_delta_backup",
									"type": "DatasetReference",
									"parameters": {
										"container_name": "@split(split(item(), '://')[1], '@')[0]",
										"table_name": "@last(split(item(), '/'))",
										"storage_account_name": "@split(split(split(item(), '://')[1], '@')[1], '.')[0]"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"file_path_array": {
				"type": "Array"
			},
			"file_name": {
				"type": "String"
			},
			"container_name": {
				"type": "String"
			},
			"storage_account_name": {
				"type": "String"
			},
			"table_name": {
				"type": "String"
			},
			"Key_Vault_Url": {
				"type": "String"
			},
			"Key_Vault_API": {
				"type": "String",
				"defaultValue": "?api-version=7.0"
			},
			"resource_group": {
				"type": "String"
			},
			"subscription_id": {
				"type": "String"
			},
			"path_list": {
				"type": "String"
			}
		},
		"annotations": []
	}
}