workspace/pipeline/rel_1381_appeal_has.json
{
	"name": "rel_1381_appeal_has",
	"properties": {
		"activities": [
			{
				"name": "py_sb_raw_to_std",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_sb_raw_to_std",
						"type": "NotebookReference"
					},
					"parameters": {
						"entity_name": {
							"value": {
								"value": "@variables('entity_name')",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "py_sb_std_to_hrm",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "py_sb_raw_to_std",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_sb_std_to_hrm",
						"type": "NotebookReference"
					},
					"parameters": {
						"entity_name": {
							"value": {
								"value": "@variables('entity_name')",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "curated_appeal_has",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "py_sb_std_to_hrm",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "appeals_has",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			}
		],
		"variables": {
			"entity_name": {
				"type": "String",
				"defaultValue": "appeal-has"
			}
		},
		"folder": {
			"name": "Releases/1.1.5"
		},
		"annotations": []
	}
}