workspace/pipeline/rel_1309_nsip_exam.json
{
	"name": "rel_1309_nsip_exam",
	"properties": {
		"description": "Release pipeline for s51 advice changes",
		"activities": [
			{
				"name": "Create nsip_exam_timetable  standardised table",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "create_table_from_schema",
						"type": "NotebookReference"
					},
					"parameters": {
						"db_name": {
							"value": "odw_standardised_db",
							"type": "string"
						},
						"entity_name": {
							"value": {
								"value": "@variables('entity_name')",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "pinssynspodw34",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"driverSize": "Small",
					"numExecutors": null
				}
			},
			{
				"name": "Create nsip_exam_timetable  harmonised table",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "create_table_from_schema",
						"type": "NotebookReference"
					},
					"parameters": {
						"db_name": {
							"value": "odw_harmonised_db",
							"type": "string"
						},
						"entity_name": {
							"value": {
								"value": "@variables('entity_name')",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "pinssynspodw34",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"driverSize": "Small",
					"numExecutors": null
				}
			},
			{
				"name": "Create nsip_exam_timetable  curated table",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "create_table_from_schema",
						"type": "NotebookReference"
					},
					"parameters": {
						"db_name": {
							"value": "odw_curated_db",
							"type": "string"
						},
						"entity_name": {
							"value": {
								"value": "@variables('entity_name')",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "pinssynspodw34",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"driverSize": "Small",
					"numExecutors": null
				}
			},
			{
				"name": "Reload nsip-exam-timetable",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Create nsip_exam_timetable  standardised table",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Create nsip_exam_timetable  harmonised table",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Create nsip_exam_timetable  curated table",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "delete redundant examination_timetable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_sb_reload_from_raw_storage",
						"type": "NotebookReference"
					},
					"parameters": {
						"entity_name": {
							"value": {
								"value": "@variables('entity_name')",
								"type": "Expression"
							},
							"type": "string"
						},
						"table_name": {
							"value": "sb_nsip_exam_timetable",
							"type": "string"
						}
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Ingest Hrm Final",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Reload nsip-exam-timetable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_sb_horizon_harmonised_nsip_exam_timetable",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Ingest Curated",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Ingest Hrm Final",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "examination_timetable",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Run Unit Tests",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Ingest Curated",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_unit_tests_nsip_exam_timetable",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Data Validation",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Ingest Curated",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_utils_curated_validate_nsip_s51_advice",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "delete redundant examination_timetable",
				"description": "deleting older examination_timetable table in the curated layer to avoid confusion",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_delete_table",
						"type": "NotebookReference"
					},
					"parameters": {
						"db_name": {
							"value": "odw_curated_db",
							"type": "string"
						},
						"table_name": {
							"value": "examination_timetable",
							"type": "string"
						}
					},
					"snapshot": true
				}
			}
		],
		"variables": {
			"entity_name": {
				"type": "String",
				"defaultValue": "nsip-exam-timetable"
			}
		},
		"folder": {
			"name": "Releases/1.1.9"
		},
		"annotations": []
	}
}