workspace/pipeline/rel_4_0_1.json
{
	"name": "rel_4_0_1",
	"properties": {
		"activities": [
			{
				"name": "Theodw_1485_appeal_s78_curated",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Create curated table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "appeal_s78",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "py_sb_horizon_harmonised_appeal_s78",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Create harmonised table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_sb_horizon_harmonised_appeal_s78",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"conf": {
						"spark.dynamicAllocation.enabled": null,
						"spark.dynamicAllocation.minExecutors": null,
						"spark.dynamicAllocation.maxExecutors": null
					},
					"numExecutors": null
				}
			},
			{
				"name": "Create standardised table",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "create_table_from_schema",
						"type": "NotebookReference"
					},
					"parameters": {
						"entity_name": {
							"value": "appeal-s78",
							"type": "string"
						},
						"db_name": {
							"value": "odw_standardised_db",
							"type": "string"
						}
					},
					"snapshot": true
				}
			},
			{
				"name": "Create harmonised table",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "create_table_from_schema",
						"type": "NotebookReference"
					},
					"parameters": {
						"entity_name": {
							"value": "appeal-s78",
							"type": "string"
						},
						"db_name": {
							"value": "odw_harmonised_db",
							"type": "string"
						}
					},
					"snapshot": true
				}
			},
			{
				"name": "Create curated table",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "create_table_from_schema",
						"type": "NotebookReference"
					},
					"parameters": {
						"entity_name": {
							"value": "appeal-s78",
							"type": "string"
						},
						"db_name": {
							"value": "odw_curated_db",
							"type": "string"
						}
					},
					"snapshot": true
				}
			},
			{
				"name": "Check if entity exists in service bus",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Theodw_1485_appeal_s78_check_in_config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Theodw_1485_appeal_s78_check_in_config').output.firstRow.ValueExists, 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Add_entity_main_config",
							"type": "SynapseNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebook": {
									"referenceName": "Theodw_1485_appeal_s78_add_in_config_Copy1",
									"type": "NotebookReference"
								},
								"snapshot": true
							}
						}
					]
				}
			},
			{
				"name": "Theodw_1485_appeal_s78_check_in_config",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "Theodw_1485_appeal_s78_check_in_config",
						"type": "NotebookReference"
					},
					"snapshot": true
				}
			}
		],
		"folder": {
			"name": "Releases/4.0.1"
		},
		"annotations": []
	}
}