workspace/pipeline/utils_global_variables.json
{
	"name": "utils_global_variables",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "SynapseNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "py_utils_global_variables",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "pinssynspodwpr",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"driverSize": "Small"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "timestamp",
					"value": {
						"value": "@activity('Notebook1').output.status.output.result.exitValue['status']",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"timestamp": {
				"type": "String"
			}
		},
		"folder": {
			"name": "utils"
		},
		"annotations": []
	}
}